
  <md-input-container flex style="    width: 100%;">
        <label>{{label? label : 'Plano de contas'}}</label>
        <md-select ng-model="selectedItem"
                   md-on-open="loadPlanos()"
                    ng-required="{{required}}"    flex
                   md-on-close="clearSearchTerm()"
                   data-md-container-class="selectdemoSelectHeader"
                   >
          <md-select-header class="demo-select-header">
            <input ng-model="searchTerm"
                   type="search"
                   placeholder="Procurar ..."
                   class="demo-header-searchbox md-text">
          </md-select-header>
          <md-optgroup label="{{gr.nome}}" ng-repeat="gr in planos.filhos.data" flex>
            <md-option ng-value="plan" ng-repeat="plan in gr.filhos.data |
              filter:searchTerm">{{plan.codigo}} {{plan.nome}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>