<div id="rapi-page-archive" class="page-layout carded fullwidth single-scroll" layout="row">

    <div class="top-bg md-accent-bg "></div>

    <div class="center" layout="column" flex>

        <div class="header" layout="row" layout-align="space-between center" layout-xs="column"  layout-align-xs="space-between start" >
            <div class="white-fg" layout="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-cash-multiple"></md-icon>
                    <span translate="PLANO_CONTA.TITLE_ARCHIVE">PlanoConta</span>
                </div>
                <!--            
                <div class="product-count secondary-text">
                    <span translate="PLANO_CONTA.TOTAL" translate-values="{'total':vm.pagination.total}">Total de cadastros {vm.pagination.total}</span>
                </div>
                -->
            </div>

            <div layout="row">
                <div class="search" layout="row" layout-align="start center" flex>
                    <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                    <input id="e-commerce-products-search" class="search-input" type="text" placeholder="{{'PLANO_CONTA.BUSCAR' | translate}}"  ng-model="vm.search" flex>
                </div>
                <md-button ng-click="vm.showCreate(null, $event)" class="md-fab md-primary" aria-label="adicionar novo"  translate translate-attr-aria-label="COMMON.ADICIONAR_NOVO">
                    <md-icon md-font-icon="icon-plus"></md-icon>
                </md-button>
            </div>
        </div>

        <div class="content-card p-0" layout="column" flex>
            <div ng-show="!vm.archive.length" class="h-200" layout="column" layout-align="center center">
                <md-icon md-font-icon="icon-emoticon-sad" class="s60 amber-700-fg"></md-icon>
                <span>Você ainda não tem nenhum plano de conta cadastrado.</span>
                <md-button class="md-raised md-accent" ng-click="vm.setUp()">Iniciar planos</md-button>
            </div>
            <div class="content fullpage-datatable" layout="column" layout-gt-xs="row" flex >

                <div flex="50"  ng-repeat="niv1 in vm.archive|orderBy:'codigo'" ng-class="{'mr-8':!$last}">
                    <div class="bb bh" layout="row" layout-align="space-between center">
                        <h2 class="p-16 no-margin" ng-class="{'green-500-fg':niv1.tipo == 'ENTRADA','red-500-fg':niv1.tipo == 'SAIDA'}">{{niv1.codigo}} {{niv1.nome}}</h2>
                        <md-button class="md-icon-button  no-margin"  ng-click="vm.showCreate(niv1, $event)" aria-label="Fechar" translate translate-attr-aria-label="COMMON.FECHAR_DIALOG">
                            <md-icon md-font-icon="icon-plus s24"></md-icon>
                        </md-button>
                    </div>
                    <div ng-repeat="niv2 in niv1.filhos.data|orderBy:'codigo'">
                        <div layout="row" layout-align="space-between center" class="grey-200-bg bh">
                            <span class="pl-16"><b>{{niv2.codigo}} {{niv2.nome}}</b> <span ng-if="niv2.meta" class="text-boxed">meta: {{niv2.meta|currency:'R$ '}}</span> </span>
                            <div>
                                <md-button class="md-icon-button md-accent  no-margin"  ng-click="vm.showEdit(niv1, niv2, $event)" aria-label="Fechar" translate translate-attr-aria-label="COMMON.FECHAR_DIALOG">
                                    <md-icon md-font-icon="icon-border-color s20"></md-icon>
                                </md-button>
                                <md-button class="md-icon-button  no-margin"  ng-click="vm.showCreate(niv2, $event)" aria-label="Fechar" translate translate-attr-aria-label="COMMON.FECHAR_DIALOG">
                                    <md-icon md-font-icon="icon-plus s24"></md-icon>
                                </md-button>
                            </div>
                        </div>
                        <md-list layout="column" class="no-padding">
                            <md-list-item  ng-repeat="niv3 in niv2.filhos.data|filter:vm.search|orderBy:'codigo'" ng-mouseover="niv3.mouse = true" ng-mouseleave="niv3.mouse = false" class="secondary-button-padding pl-16 h-40 bh">
                                <p> {{niv3.codigo}} {{niv3.nome}} </p>
                                <div ng-show="niv3.mouse">
                                    <md-button class="md-icon-button md-accent no-margin"  ng-click="vm.showEdit(niv2, niv3, $event)" aria-label="Fechar" translate translate-attr-aria-label="COMMON.FECHAR_DIALOG">
                                        <md-icon md-font-icon="icon-border-color s20"></md-icon>
                                    </md-button>
                                    <!--                                    <md-button class="md-icon-button no-margin" ng-click="vm.showCreate(niv2, $event)" aria-label="Fechar" translate translate-attr-aria-label="COMMON.FECHAR_DIALOG">
                                                                            <md-icon md-font-icon="icon-plus s24"></md-icon>
                                                                        </md-button>-->
                                </div>
                            </md-list-item>
                        </md-list>
                        <md-divider ng-if="!$last"></md-divider>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
