<div layout="row" layout-align="start center">
    <div layout="row" layout-align="start center" flex>
        <div layout="row" layout-align="start center" >
            <div class="logo" layout="row" layout-align="start center">
                <span  ng-if="vm.logo" class="logo-img">
                    <img ng-src="{{vm.logo}}" alt="{{vm.title_project}}" />
                </span>
                <span ng-if="!vm.logo" class="logo-image">{{vm.sigla}}</span>
                <span ng-if="!vm.logo" class="logo-text">{{vm.title_project}}</span>
            </div>
            <md-button id="navigation-toggle" class="md-icon-button hide-{{vm.openMenu}}" ng-click="vm.toggleSidenav('navigation')"
                       aria-label="Toggle navigation" translate>
                <md-icon md-font-icon="icon-menu"  aria-label="menu" class="icon"></md-icon>
            </md-button>

            <ms-shortcuts></ms-shortcuts> 

            <div class="toolbar-separator"></div>
        </div>

        <div class="toolbar-separator"></div>
        <md-button ui-sref="app.home" class="md-icon-button">
            <md-icon md-font-icon="icon icon-home"></md-icon>
            <md-tooltip>Selecionar livro</md-tooltip>
        </md-button>
        <div class="toolbar-separator"></div>
        <div class="p-8">
            {{vm.nameModule}}: {{$root.currentSession.nome}}
        </div>
    </div>

    <div layout="row" layout-align="start center">        
        <md-progress-circular id="toolbar-progress" ng-if="$root.loadingProgress" class="md-accent"
                              md-mode="indeterminate" md-diameter="64">
        </md-progress-circular>

        <md-menu-bar id="user-menu">
            <md-menu md-position-mode="left bottom">
                <md-button class="user-button" ng-click="$mdMenu.open()"
                           aria-label="User settings"
                           translate translate-attr-aria-label="TOOLBAR.USER_SETTINGS">
                    <div layout="row" layout-align="space-between center">
                        <div class="avatar-wrapper">
                            <img md-menu-align-target class="avatar" ng-src="{{$root.rapiProfile.thumb}}">

                        </div>
                        <span class="username" hide show-gt-sm>{{$root.rapiProfile.name}}</span>
                        <md-icon md-font-icon="icon-chevron-down"
                                 class="icon s16" hide-xs></md-icon>
                    </div>
                </md-button>

                <md-menu-content width="3">

                    <md-menu-item class="md-indent">
                        <md-icon md-font-icon="icon-logout" class="icon"></md-icon>
                        <md-button ng-click="vm.logout()">Sair</md-button>
                    </md-menu-item>

                </md-menu-content>
            </md-menu>
        </md-menu-bar>

    </div>
</div>
