<div id="rapi-page-archive" class="page-layout carded fullwidth single-scroll" layout="row">

    <div class="top-bg md-accent-bg"></div>

    <div class="center" layout="column" flex>

        <div class="header" layout="row" layout-align="space-between center" layout-xs="column"  layout-align-xs="space-between start" >
            <div class="white-text" layout="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-check-circle"></md-icon>
                    <span >Conciliação</span>
                </div>
                <div class="product-count secondary-text">
                    <span >Bloqueio de caixa. Total de cadastros {{vm.pagination.total}}</span>
                </div>
            </div>

            <div layout="row">
                <div class="search" layout="row" layout-align="start center" flex>
                    <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                    <input id="e-commerce-products-search" class="search-input" type="text" placeholder="Buscar"  translate translate-attr-placeholder="COMMON.BUSCAR" ng-change="vm.search()" ng-model="vm.params.q" flex>
                </div>
            </div>
        </div>

        <div class="content-card" layout="column" flex>

            <div class="content fullpage-datatable" ms-scroll>

                <!--#{{vm.params}}#-->
                <md-progress-linear ng-class="{'progress-invisible' : !vm.loading}" md-mode="indeterminate"></md-progress-linear>

                <table class="dataTable row-border hover" ms-responsive-table w3-order-table="vm.params" w3-change="vm.search()">
                    <thead>
                        <tr>
                            <th class="secondary-text" data-order="id">
                                <div class="table-header">
                                    <span class="column-title" translate="COMMON.ID">ID</span>
                                </div>
                            </th>
                            <th class="secondary-text" >
                                <div class="table-header">
                                    <span class="column-title">Conta</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Saldo</span>
                                </div>
                            </th>
                            <th class="secondary-text" >
                                <div class="table-header">
                                    <span class="column-title">Conciliado até</span>
                                </div>
                            </th>
                            <th class="secondary-text" >
                                <div class="table-header">
                                    <span class="column-title">Descrição</span>
                                </div>
                            </th>
                            <th class="secondary-text" >
                                <div class="table-header">
                                    <span class="column-title">Autor</span>
                                </div>
                            </th>
                            <th class="secondary-text" data-order="created_at">
                                <div class="table-header">
                                    <span class="column-title" translate="COMMON.CRIADO_EM">Criado em</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr-notfound" ng-show="vm.loading === false && vm.archive.length == 0">
                            <td colspan="10">
                                <span>Nenhum resultado encontrado</span>
                            </td>
                        </tr>
                        <tr ng-repeat="item in vm.archive" class="hover-table">
                            <td>{{item.id}}</td>
                            <td>{{item.conta.nome}}</td>
                            <td>{{item.saldo|currency:"R$ "}}</td>
                            <td>{{item.data_final|w3FromDatePt}}</td>
                            <td>{{item.descricao}}</td>
                            <td>{{item.profile.name}}</td>
                            <td>
                                 {{item.created_at|w3Moments}}
                                <md-tooltip>{{item.created_at|w3FromDatePt }}</md-tooltip>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="10">
                                <div layout="row" layout-align="space-between center">
                                    <div layout="row" layout-align="start center">
                                        <span  translate="COMMON.EXIBINDO">Exibindo</span>
                                        <md-input-container class="m-0" style="top: -2px;    padding: 0 8px;">
                                            <md-select aria-label="Itens por página"  translate translate-attr-aria-label="COMMON.ITENS_POR_PAGINA" ng-change="vm.search()" ng-model="vm.params.paginate">
                                                <md-option ng-repeat="pag in [10, 15, 20, 25, 30, 50, 100]" value="{{pag}}">
                                                    {{pag}} <span  translate="COMMON.ITENS">itens</span>
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                        <span  translate="COMMON.POR_PAGINA">por página</span>
                                    </div>

                                    <div layout="row" layout-align="end center">
                                        <w3-page-table w3-pagination="vm.pagination" w3-set-page="vm.setPage($page)"></w3-page-table>
                                    </div>

                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
