<md-dialog class="single-dialog dialog-800" aria-label="Dialog" translate-attr-aria-label="DIALOG.MANUTENCAO_DIALOG">
    <form name="dialogForm" class="md-inline-form red-validation" novalidate>

        <md-toolbar class="md-accent" layout="column">
            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                <span class="title" translate="ENTIDADE.NOVO_FAVORECIDO">Novo favorecido</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Fechar" translate translate-attr-aria-label="COMMON.FECHAR_DIALOG">
                    <md-icon md-font-icon="icon-close s24"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content >

            <div layout="row" layout-align="none center">
                <md-input-container class="md-icon-float md-block" flex>
                    <label translate="ENTIDADE.FORM.NOME">Nome (obrigatório)</label>
                    <input ng-model="vm.row.nome" type="text" ng-change="vm.querySearchEntidade(vm.row.nome)" md-autofocus ng-required="true">
                </md-input-container>
                <md-button class="md-raised md-accent" ng-click="vm.novoFavorecido(vm.row.nome, $event)" style="    margin-top: -24px;" aria-label="buscar favorecido">
                    <span translate="ENTIDADE.NOVO">Novo</span>
                </md-button>
            </div>

            <div>
                <table class="simple animate-slide-up" ng-if="vm.favorecidos.length" ms-responsive-table  >
                    <thead>
                        <tr>
                            <th> <span></span>Nome</th>
                            <th>Cidade</th>
                            <th>Tipo</th>
                            <th>Origem</th>
                            <th class="no-padding w-40"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="item in vm.favorecidos">
                            <td>
                                {{item.nome}}<br ng-if="item.email">
                                <small>{{item.email}}</small>
                            </td>
                            <td>
                                <small>{{item.cidade}}</small>
                            </td>
                            <td>
                                <span class="text-boxed blue-500-bg white-text">{{item.lbTipo}}</span>
                            </td>
                            <td>{{item.lbTable}}</td>
                            <td class="no-padding w-40">
                    <md-button ng-click="vm.checkId(item)" class="md-icon-button no-margin" aria-label="More">
                        <md-icon md-font-icon="icon-border-color"></md-icon>
                    </md-button>
                    </td>
                    </tr>

                    </tbody>
                </table>
                <div ng-if="!vm.favorecidos.length && vm.searched" layout="column" layout-align="center center">
                    <span>Favorecido não encontrado :(</span>
                    <div layout="row" layout-align="start center" class="pointer" ng-click="vm.novoFavorecido(vm.row.nome, $event)">
                        <md-icon md-font-icon="icon-plus-circle" class="s40 m-0 md-primary-fg"></md-icon>
                        <span class="mr-16">Adicionar novo favorecido</span>
                    </div>
                </div>
            </div>

        </md-dialog-content >


        <md-dialog-actions layout="row" layout-align="end end">

            <div layout="row" layout-align="end end">

                <md-button type="button" ng-click="vm.closeDialog()"
                           class="md-warn"
                           aria-label="Cancelar">
                    <span translate="COMMON.CANCELAR"> Cancelar </span>
                </md-button>
            </div>
        </md-dialog-actions>

    </form>

</md-dialog>
