<div id="entidade" class="page-layout carded fullwidth single-scroll" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" flex>

        <div class="header pl-0 pr-0" ng-class="{'h-160':vm.searchActive}">
            <div  layout="row" layout-align="space-between center" layout-xs="column"  layout-align-xs="space-between start" >
                <div class="white-fg" layout="column" layout-align="start start">
                    <div  class="h1" layout="row" layout-align="start center">
                        <md-icon md-font-icon="icon-account-multiple" class="mr-8"></md-icon>
                        <span translate="ENTIDADE.TITLE_ARCHIVE">Favorecidos</span>
                    </div>

                    <div class="product-count secondary-text">
                        <span  translate="ENTIDADE.TOTAL" translate-values="{'total':vm.archive.length}">Total de cadastros {vm.pagination.total}</span>
                    </div>
                </div>

                <div layout="row" layout-align="end center">
                    <md-button  ng-click="vm.searchActive = !vm.searchActive"  class="md-icon-button" aria-label="Search" translate
                                translate-attr-aria-label="CALENDAR.SEARCH">
                        <md-icon md-font-icon="icon-magnify"></md-icon>
                        <md-tooltip><span translate="ENTIDADE.SEARCH">Buscar</span></md-tooltip>
                    </md-button>
                    <md-button ng-click="vm.showCreate($event)" class="md-fab md-primary" aria-label="adicionar novo"  translate translate-attr-aria-label="COMMON.ADICIONAR_NOVO">
                        <md-icon md-font-icon="icon-plus"></md-icon>
                        <md-tooltip><span  translate="ENTIDADE.NOVO">Novo</span></md-tooltip>
                    </md-button>
                </div>
            </div>
            <!-- / SEARCH -->
            <div ng-if="vm.searchActive" class="bottom  animate-slide-down" layout="column" layout-gt-sm="row" layout-align-gt-sm="end center">
                <div class="search-boxes" flex flex-gt-xs="75" layout="column">
                    <div  class="search-boxes  mb-8" flex flex-gt-xs="100" layout="column" layout-gt-xs="row">
                        <div class="search md-whiteframe-3dp mr-8" flex  layout="row" layout-align="start center">
                            <input flex ng-model="vm.params.q"  
                                   type="text" placeholder="{{'ENTIDADE.SEARCH_PARAMS_Q'|translate}}">
                        </div>
                        <div class="search md-whiteframe-3dp mr-8" flex flex-gt-xs="30" layout="row" layout-align="start center">
                            <md-select flex ng-model="vm.params.tipo"  placeholder="Tipo">
                                <md-option value=""> Todos</md-option>
                                <md-option value="CLIENTE"> Cliente</md-option>
                                <md-option value="FORNECEDOR"> Fornecedor</md-option>
                                <md-option value="AMBOS"> Cliente/Fornecedor</md-option>
                            </md-select>
                        </div>
                        <md-button class="md-raised md-accent-fg mb-0" aria-label="buscar" ng-click="vm.search()">Buscar</md-button>
                    </div>
                </div>

                <md-button ng-show="vm.searchActive"
                           class="md-icon-button"
                           ng-click="vm.clearFilter()"
                           aria-label="Filter Date">
                    <md-icon md-font-icon="icon-filter-remove"></md-icon>
                </md-button>

            </div>

        </div>

        <!-- CONTENT CARD -->
        <div class="content-card">

            <md-content class="content no-padding" ms-scroll>

                <table class="dataTable row-border hover" ms-responsive-table w3-order-table="vm.params" w3-change="vm.search()">
                    <thead>
                        <tr>

                            <th class="secondary-text" data-order="nome">
                                <div class="table-header">
                                    <span class="column-title" translate="ENTIDADE.TABLE.NOME">Nome</span>
                                </div>
                            </th>
                            <th class="secondary-text" >
                                <div class="table-header">
                                    <span class="column-title" translate="ENTIDADE.TABLE.CONTATO">Contato</span>
                                </div>
                            </th>

                            <th class="secondary-text" >
                                <div class="table-header">
                                    <span class="column-title" translate="ENTIDADE.TABLE.CITY">Cidade</span>
                                </div>
                            </th>
                            <th class="secondary-text" >
                                <div class="table-header">
                                    <span class="column-title" translate="ENTIDADE.TIPO">Tipo</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title" translate="COMMON.CRIADO_EM">Criado em</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title" translate="COMMON.OPCOES">Opções</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr-notfound" ng-show="vm.loading === false && vm.archive.length == 0">
                            <td colspan="10">
                                <span  translate="ENTIDADE.SEM_RESULTADOS">Nenhum resultado encontrado</span>
                            </td>
                        </tr>
                        <tr ng-repeat="item in vm.archive| orderBy: 'item.nome'" class="hover-table">

                            <td ui-sref="xsession.entidade.edit({id:item.id})" class="pointer">{{item.item.nome}}</td>
                            <td>  
                                {{item.item.telefone|w3Phone}}<span ng-if="item.item.telefone && item.item.celular"> | </span>{{item.item.celular|w3Phone}}
                                <br ng-if="item.item.telefone" />
                                {{item.item.email}}
                            </td>
                            <td>{{item.item.cidade}}</td>
                            <td>
                                <span  class="text-boxed white-text" ng-class="{'green-500-bg': item.tipo == 'CLIENTE', 'red-500-bg': item.tipo == 'FORNECEDOR', 'light-blue-500-bg': item.tipo == 'AMBOS'}">{{item.tipo == 'AMBOS'? 'CLIENTE/FORNECEDOR': item.tipo}}</span>

                            </td>

                            <td>{{item.created_at|w3DatePt}}</td>
                            <td>
                    <md-menu>
                        <md-button class="md-icon-button" aria-label="mais opções"  translate translate-attr-aria-label="COMMON.MAIS_OPCOES">
                            <md-icon md-font-icon="icon-dots-vertical" ng-click="$mdMenu.open($event)"></md-icon>
                        </md-button>

                        <md-menu-content width="3">
                            <md-menu-item>
                                <md-button  ui-sref="xsession.entidade.edit({id:item.id})" class=" md-accent" aria-label="Editar" translate translate-attr-aria-label="COMMON.EDITAR">
                                    <md-icon md-font-icon="icon-border-color" class="icon s28"></md-icon>
                                    {{'COMMON.EDITAR'|translate}}
                                </md-button>
                            </md-menu-item>

                            <md-menu-item>
                                <md-button ng-click="vm.confirmDelete(item, $index, $event)" class="md-warn" aria-label="Excluir" translate translate-attr-aria-label="COMMON.EXCLUIR">
                                    <md-icon md-font-icon="icon-delete" class="icon s26"></md-icon>
                                    {{'COMMON.EXCLUIR'|translate}}
                                </md-button>
                            </md-menu-item>

                        </md-menu-content>
                    </md-menu>
                    </td>
                    </tr>
                    </tbody>

                    <tfoot>
                                            <tr>
                                                <td colspan="10">
                                                    <div layout="row" layout-align="space-between center">
                                                        <div layout="row" layout-align="start center">
                                                            <span  translate="COMMON.EXIBINDO">Exibindo</span>
                                                            <md-input-container class="m-0" style="top: -2px;    padding: 0 8px;">
                                                                <md-select aria-label="Itens por página"  translate translate-attr-aria-label="COMMON.ITENS_POR_PAGINA" ng-change="vm.search()" ng-model="vm.params.paginate">
                                                                    <md-option ng-repeat="pag in [10, 15, 20, 25, 30, 50, 100]" value="{{pag}}">
                                                                        {{pag}} <span  translate="COMMON.ITENS">itens</span>
                                                                    </md-option>
                                                                </md-select>
                                                            </md-input-container>
                                                            <span  translate="COMMON.POR_PAGINA">por página</span>
                                                        </div>
                    
                                                        <div layout="row" layout-align="end center">
                                                            <w3-page-table w3-pagination="vm.pagination" w3-set-page="vm.setPage($page)"></w3-page-table>
                                                        </div>
                    
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                </table>

            </md-content>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>