<form ng-submit="vm.save()"  novalidate>
    <div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

        <div class="header md-accent-bg" layout="row" layout-align="start center"layout-xs="column"  layout-align-xs="space-between start">
            <div class="white-fg flex-mobile-xs" layout="row" layout-align="start center" flex >
                <md-button ng-if="!vm.isPopUp" ui-sref="xsession.entidade" class="goto-products-button md-icon-button" aria-label="voltar"  translate translate-attr-aria-label="ENTIDADE.VOLTAR_ARCHIVE">
                    <md-icon md-font-icon="icon-arrow-left"></md-icon>
                </md-button>

                <div layout="row" layout-align="start center">

                    <div layout="column" layout-align="start start">
                        <div class="md-display-1 white-fg">
                            {{vm.row.nome}}
                            <span  class="text-boxed white-text" ng-class="{'green-500-bg': vm.row.tipo == 'CLIENTE', 'red-500-bg': vm.row.tipo == 'FORNECEDOR', 'light-blue-500-bg': vm.row.tipo == 'AMBOS'}">{{vm.row.tipo == 'AMBOS'? 'CLIENTE/FORNECEDOR': vm.row.tipo}}</span>
                        </div>

                        <span ng-if="!vm.isNew" class="h2">Editar favorecido</span>
                    </div>

                </div>
            </div>

            <div  class="flex-mobile-xs" layout="row" layout-align-xs="end end">
                <md-button type="button" ng-if="!vm.isNew" ng-click="vm.confirmDelete($event)" class="md-fab grey-50-bg md-green-600-fg" aria-label="Excluir">
                    <md-icon md-font-icon="icon-trash" class="red-500-fg"></md-icon>
                    <md-tooltip><span translate="COMMON.EXCLUIR">Excluir</span></md-tooltip>
                </md-button>
                <md-button type="submit" class="md-fab grey-50-bg md-green-600-fg" aria-label="Salvar">
                    <md-icon md-font-icon="icon-content-save" class="green-600-fg"></md-icon>
                    <md-tooltip><span translate="COMMON.SALVAR">Salvar</span></md-tooltip>
                </md-button>
                <md-button ng-if="vm.isPopUp" ng-click="vm.close()" class="goto-products-button md-icon-button h-64 w-64 no-padding" aria-label="fechar" >
                    <md-icon md-font-icon="icon-close-circle-outline" class="s64 no-padding no margin"></md-icon>
                    <md-tooltip>Fechar tela</md-tooltip>
                </md-button>
            </div>
        </div>

        <div class="content">

            <md-tabs md-dynamic-height>

                <md-tab>
                    <md-tab-label>
                        <span  translate="ENTIDADE.FORM.INFOS_CADASTRAIS">Informações cadastrais</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="product-detail-form-container md-background-bg md-whiteframe-1dp p-16">


                            <span class="md-title" translate="ENTIDADE.FORM.INFOS_CADASTRAIS">Informações cadastrais</span>

                            <div layout="row">
                                <md-input-container flex class="md-icon-float md-block">
                                    <label translate="ENTIDADE.FORM.NOME">Nome (obrigatório)</label>
                                    <input ng-model="vm.row.nome" type="text" ng-required="true" md-autofocus>
                                </md-input-container>
                                <md-input-container>
                                    <label >Tipo</label>
                                    <md-select flex ng-model="vm.row.tipo" >
                                        <md-option value="CLIENTE"> Cliente</md-option>
                                        <md-option value="FORNECEDOR"> Fornecedor</md-option>
                                        <md-option value="AMBOS"> Cliente/Fornecedor</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>

                            <div layout="column" layout-gt-xs="row">
                                <md-input-container flex class="md-icon-float md-block">
                                    <label >Tipo de pessoa</label>
                                    <md-select ng-model="vm.row.tipo_pessoa" >
                                        <md-option value="PF">Pessoa física</md-option>
                                        <md-option value="PJ">Pessoa jurídica</md-option>
                                    </md-select>
                                </md-input-container>
                                
                                <md-input-container ng-if="vm.row.tipo_pessoa == 'PF'"  flex class="md-icon-float md-block">
                                    <label translate="ENTIDADE.FORM.DATA_NASC">Data de nascimento</label>

                                    <rf-input-date-br rf-model="vm.row.data_nasc" rf-required="true"></rf-input-date-br>
                                </md-input-container>

                                <md-input-container ng-if="vm.row.tipo_pessoa == 'PF'"  flex class="md-icon-float md-block">
                                    <label translate="ENTIDADE.FORM.SEXO">Sexo</label>
                                    <md-select ng-model="vm.row.sexo" >
                                        <md-option value="F"><span translate="ENTIDADE.FORM.FEMININO">Feminino</span></md-option>
                                        <md-option value="M"><span translate="ENTIDADE.FORM.MASCULINO">Masculino</span></md-option>
                                    </md-select>
                                </md-input-container>


                            </div>

                            <div layout="column" layout-gt-xs="row">
                                <md-input-container ng-if="vm.row.tipo_pessoa == 'PF'" flex class="md-icon-float md-block">
                                    <label >Estado civil</label>
                                    <md-select ng-model="vm.row.estado_civil" name="estdoCivil">
                                        <md-option ng-repeat="(key, label) in  vm.estados_civis" ng-value="key">
                                            {{label}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container ng-if="vm.row.tipo_pessoa == 'PF'" flex class="md-icon-float md-block">
                                    <label >CPF</label>
                                    <input ng-model="vm.row.cpf"   mask="{{$root.fmask.cpf}}" type="text" >
                                </md-input-container>
                                <md-input-container ng-if="vm.row.tipo_pessoa == 'PJ'"  flex class="md-icon-float md-block">
                                    <label >CNPJ</label>
                                    <input ng-model="vm.row.cnpj"   mask="{{$root.fmask.cnpj}}" type="text" >
                                </md-input-container>
                                <md-input-container ng-if="vm.row.tipo_pessoa == 'PJ'" flex class="md-icon-float md-block">
                                    <label >Razão social</label>
                                    <input ng-model="vm.row.razao_social" type="text" >
                                </md-input-container>
                            </div>


                            <!--                            <md-input-container class="md-block md-warn mb-0" md-no-float='true'>
                                                            <label>Observações*:</label>
                            
                                                            <textarea ng-model="vm.row.observacoes" rows="5" md-select-on-focus></textarea>
                                                        </md-input-container>
                                                        <div layout="row" layout-align="end end"><small>* Este texto será exibido como alerta juntamente ao perfil do favorecido</small></div>-->

                            <md-input-container class="md-block md-warn">
                                <label>Descrição:</label>
                                <textarea ng-model="vm.row.descricao" rows="5" md-select-on-focus></textarea>
                            </md-input-container>

                            <div class="md-actions" layout="row" layout-align="end end">
                                <md-button type="submit" class="md-fab grey-50-fg md-green-600-bg" aria-label="Salvar">
                                    <md-icon md-font-icon="icon-content-save" class="md-fab grey-50-fg "></md-icon>
                                    <md-tooltip><span translate="COMMON.SALVAR">Salvar</span></md-tooltip>
                                </md-button>
                            </div>
                        </div>

                    </md-tab-body>

                </md-tab>


                <md-tab>
                    <md-tab-label>
                        <span translate="ENTIDADE.FORM.CONTATO">Contato</span>
                    </md-tab-label>

                    <md-tab-body>
                        <div class="product-detail-form-container md-background-bg md-whiteframe-1dp p-16">

                            <md-input-container class="md-icon-float md-block">
                                <label translate="ENTIDADE.FORM.EMAIL">Email (obrigatório)</label>
                                <input ng-model="vm.row.email" type="email" ng-required="true" >
                            </md-input-container>

                            <div layout="column" layout-gt-xs="row">
                                <md-input-container flex class="md-icon-float md-block">
                                    <label translate="ENTIDADE.FORM.TELEFONE_N">Telefone</label>
                                    <input ng-model="vm.row.telefone"  mask="{{$root.fmask.tel}}"  type="text" ng-required="false" >
                                </md-input-container>
                                <md-input-container flex class="md-icon-float md-block">
                                    <label translate="ENTIDADE.FORM.CELULAR">Celular</label>
                                    <input ng-model="vm.row.celular" type="text"  mask="{{$root.fmask.tel}}"  ng-required="false" >
                                </md-input-container>
                            </div>

                            <div class="md-actions" layout="row" layout-align="end end">
                                <md-button type="submit" class="md-fab grey-50-fg md-green-600-bg" aria-label="Salvar">
                                    <md-icon md-font-icon="icon-content-save" class="md-fab grey-50-fg "></md-icon>
                                    <md-tooltip><span translate="COMMON.SALVAR">Salvar</span></md-tooltip>
                                </md-button>
                            </div>
                        </div>
                    </md-tab-body>
                </md-tab>

                <md-tab>
                    <md-tab-label>
                        <span translate="ENTIDADE.FORM.LOCALIZACAO">Localização</span>
                    </md-tab-label>

                    <md-tab-body>
                        <div class="product-detail-form-container md-background-bg md-whiteframe-1dp p-16">

                            <div layout="column" layout-gt-xs="row">
                                <md-input-container flex flex-gt-xs="25">
                                    <label translate="ENTIDADE.FORM.CEP">CEP</label>
                                    <input type="text" mask="{{$root.fmask.cep}}"  ng-blur="vm.loadCityWithCEP()" ng-model="vm.row.cep"/>
                                </md-input-container>

                                <rf-input-city ng-model="vm.row.city_id" rf-city="vm.row.city" rf-open-create="true" rf-placeholder="vm.row.cidade" flex-gt-xs="75"></rf-input-city>
                            </div>

                            <div layout="column" layout-gt-xs="row">
                                <md-input-container flex flex-gt-xs="75">
                                    <label translate="ENTIDADE.FORM.LOGRADOURO">Logradouro</label>
                                    <input type="text"  ng-model="vm.row.logradouro"/>
                                </md-input-container>

                                <md-input-container flex flex-gt-xs="25">
                                    <label translate="ENTIDADE.FORM.NUMERO">Número</label>
                                    <input type="text"  ng-model="vm.row.numero"/>
                                </md-input-container>
                            </div>

                            <div layout="column" layout-gt-xs="row">
                                <md-input-container flex flex-gt-xs="50">
                                    <label translate="ENTIDADE.FORM.BAIRRO">Bairro</label>
                                    <input type="text" ng-model="vm.row.bairro"/>
                                </md-input-container>

                                <md-input-container flex flex-gt-xs="50">
                                    <label translate="ENTIDADE.FORM.COMPLEMENTO">Complemento</label>
                                    <input type="text"  ng-model="vm.row.complemento"/>
                                </md-input-container>
                            </div>


                            <div class="md-actions" layout="row" layout-align="end end">
                                <md-button type="submit" class="md-fab grey-50-fg md-green-600-bg" aria-label="Salvar">
                                    <md-icon md-font-icon="icon-content-save" class="md-fab grey-50-fg "></md-icon>
                                    <md-tooltip><span translate="COMMON.SALVAR">Salvar</span></md-tooltip>
                                </md-button>
                            </div>
                        </div>
                    </md-tab-body>
                </md-tab>

                <!--
                                <md-tab>
                                    <md-tab-label>
                                        <span translate="ENTIDADE.FORM.ANOTACOES">Anotações</span>
                                    </md-tab-label>
                
                                    <md-tab-body>
                                        <div class="product-detail-form-container md-background-bg md-whiteframe-1dp p-16">
                                            <rf-comments rf-token="vm.row.token_morph.token"></rf-comments>
                                        </div>
                                    </md-tab-body>
                                </md-tab>
                -->



            </md-tabs>

        </div>
        <!-- / CONTENT -->


    </div>
</form>
