<md-dialog class="single-dialog dialog-600" aria-label="Dialog" translate-attr-aria-label="DIALOG.MANUTENCAO_DIALOG">

    <form name="dialogForm" class="md-inline-form" novalidate>

        <md-toolbar class="md-accent" layout="column">

            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                <span ng-if="vm.isNew" class="title" translate="TRANSFERENCIA.DIALOG.TITLE_NEW">Adicionar novo</span>
                <span ng-if="!vm.isNew" class="title" translate-values="{'name':vm.row.nome}" translate="TRANSFERENCIA.DIALOG.TITLE_EDIT">Editar</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Fechar" translate translate-attr-aria-label="COMMON.FECHAR_DIALOG">
                    <md-icon md-font-icon="icon-close s24"></md-icon>
                </md-button>
            </div><!-- / TOOLBAR TOP -->
        </md-toolbar>

        <md-dialog-content >


            <md-input-container class="md-icon-float md-block">
                <label >Conta origem</label>
                <md-select ng-model="vm.row.from_conta_id" ng-required="true" >
                    <md-option ng-value="row.id" ng-repeat="row in vm.contas">{{row.nome}}</md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label >Conta destino</label>
                <md-select ng-model="vm.row.to_conta_id" ng-required="true" >
                    <md-option ng-value="row.id" ng-repeat="row in vm.contas">{{row.nome}}</md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label >Data da transferência</label>
                <input ng-model="vm.row.dt_transferencia" ng-required="true"  type="date">
            </md-input-container>
            
            <md-input-container class="md-icon-float md-block">
                <label >Valor</label>
                <input ng-model="vm.row.valor" ng-required="true"  type="text" w3-money>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label translate="TRANSFERENCIA.FORM.DESCRICAO">Descricao</label>
                <input ng-model="vm.row.descricao" ng-required="true"  type="text" ng-required="true">
            </md-input-container>

        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="end center">
            <div layout="row" layout-align="end center">

                <md-button type="button" ng-click="vm.closeDialog()"
                           class="md-warn"
                           aria-label="Cancelar">
                    <span translate="COMMON.CANCELAR"> Cancelar </span>
                </md-button>

                <md-button type="submit" ng-if="!vm.isNew" ng-click="vm.update()"
                           class="send-button md-accent md-raised"
                           ng-disabled="dialogForm.$invalid"
                           aria-label="Salvar">
                    <span translate="COMMON.SALVAR"> Salvar </span>
                </md-button>

                <md-button type="submit" ng-if="vm.isNew" ng-click="vm.save()"
                           class="send-button md-accent md-raised"
                           ng-disabled="dialogForm.$invalid || dialogForm.$pristine"
                           aria-label="Adicionar">
                    <span translate="COMMON.ADICIONAR"> Adicionar </span>
                </md-button>

            </div>
        </md-dialog-actions>
        <!-- / DIALOG ACTIONS -->

    </form>

</md-dialog>
