<md-dialog class="single-dialog dialog-800 dialog-programar" aria-label="Dialog" translate-attr-aria-label="DIALOG.MANUTENCAO_DIALOG">

    <form name="dialogForm" class="md-inline-form  form-small  form-slim" novalidate>

        <md-toolbar  layout="column" ng-class="{'green-500-bg':vm.row.operacao === 'R', 'red-500-bg':vm.row.operacao === 'D'}" >

            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                <span ng-if="vm.isNew" class="title">Novo lançamento</span>
                <span ng-if="!vm.isNew" class="title">Editar lançamento</span>

                <md-button class="md-icon-button" ng-click="vm.closeDialog(false)" aria-label="Fechar" translate translate-attr-aria-label="COMMON.FECHAR_DIALOG">
                    <md-icon md-font-icon="icon-close" class="s24"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="no-padding" >

            <div class="md-padding" style="overflow: visible;">
                <div ng-if="vm.row.dt_prevista">
                    <b>Parcela: {{vm.row.n_parcela}} de {{vm.row.qt_parcela}}</b>
                    <span class="text-boxed white-text" ng-class="{'red-500-bg': vm.row.atrasado}">{{vm.row.dt_prevista| w3Moments}}</span>
                </div>

                <div layout="row" layout-align="start center">
                    <md-autocomplete
                        ng-disabled="vm.row.dt_prevista"
                        md-no-cache="ctrl.noCache"
                        md-selected-item="vm.selectedEntidade"
                        md-search-text-change="ctrl.searchTextChange(vm.searchTextF)"
                        md-search-text="vm.searchTextF"
                        md-selected-item-change="vm.onSelectedFavorecido(vm.selectedEntidade)"
                        md-items="item in vm.querySearchEntidade(vm.searchTextF)"
                        md-item-text="item.lbTable + ': ' + item.nome"
                        md-min-length="2"
                        class="mr-8  mb-0 mt-0" flex
                        ng-required="true"
                        md-floating-label="Entidade">
                        <md-item-template>
                            <span md-highlight-text="vm.searchTextF" md-highlight-flags="^i">{{item.lbTable}}:{{item.nome}}</span>
                        </md-item-template>
                        <md-not-found>
                            Não encontrado
                            <a ng-click="vm.saveNovoFavorecido(vm.searchTextF)">Cadastrar {{vm.searchTextF}} agora!</a>
                        </md-not-found>
                    </md-autocomplete>

                    <md-button ng-if="vm.row.entidade_id" ng-click="vm.editFornecedor(vm.row.entidade_id)" class="md-icon-button" aria-label="editar">
                        <md-icon md-font-icon="icon-border-color"></md-icon>
                    </md-button>

                    <md-input-container flex flex-gt-xs="30">
                        <label>Tipo</label>
                        <md-select ng-model="vm.row.operacao" >
                            <md-option value="R">Receita</md-option>
                            <md-option value="D">Despesa</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container  flex flex-gt-xs="50" class="md-icon-float md-block no-margin">
                        <label>Histórico</label>
                        <input ng-model="vm.row.historico" type="text" ng-required="true" >
                    </md-input-container>

                    <md-input-container flex flex-gt-xs="25" class="mt-0 mb-0">
                        <label>Forma de pagamento</label>
                        <md-select ng-model="vm.row.forma_pagamento_id" >
                            <md-option ng-value="opt.id" ng-repeat="opt in vm.documentos">{{opt.nome}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container  flex flex-gt-xs="25">
                        <label>Marcador</label>
                        <input type="text" ng-model="vm.row.marcador" />
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container flex>
                        <label>Data competência</label>
                        <input   type="date" ng-model="vm.row.dt_competencia" ng-required="true">
                    </md-input-container>
                    <md-input-container ng-if="vm.row.dt_prevista" flex>
                        <label>Vencimento</label>
                        <input   type="date" ng-model="vm.row.dt_prevista" ng-disabled="vm.row.dt_prevista">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Data de pagamento</label>
                        <input   type="date"  ng-model="vm.row.dt_compensado"  ng-required="true">
                    </md-input-container>
                    <md-input-container  flex flex-gt-xs="20" >
                        <label>Número</label>
                        <input ng-model="vm.row.referencia" type="text" >
                    </md-input-container>
                </div>

                <div layout="row">
                    <div flex layout="column">
                        <md-input-container class="md-icon-float md-block">
                            <label>Conta</label>
                            <md-select ng-model="vm.row.conta_id" ng-required="true" >
                                <md-option ng-value="row.id" ng-repeat="row in vm.contas">{{row.nome}}</md-option>
                            </md-select>
                        </md-input-container>

                        <rf-ac-plano-conta flex  tipo="vm.row.operacao"  plano="vm.row.planoConta" ac-required="{{!vm.row.plano_conta_id}}"  on-change-plano="vm.onChangePlano"></rf-ac-plano-conta>

                        <md-input-container>
                            <label>Centro de custo</label>
                            <md-select ng-model="vm.row.centro_custo_id"
                                       data-md-container-class="selectdemoSelectHeader">
                                <md-select-header class="demo-select-header">
                                    <input ng-model="vm.searchTermCentroCusto"
                                           type="search"
                                           ng-keydown="$event.stopPropagation()"
                                           placeholder="Centro de custo"
                                           class="demo-header-searchbox md-text">
                                </md-select-header>
                                <md-optgroup ng-repeat="nv1 in vm.centros" label=" {{nv1.nome}}">
                                    <md-option ng-value="nv2.id" ng-repeat="nv2 in nv1.filhos.data| filter: vm.searchTermCentroCusto">{{nv2.nome}}</md-option>
                                </md-optgroup>

                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block mt-8">
                            <label>Detalhes</label>
                            <textarea ng-model="vm.row.detalhes"  rows="2" md-select-on-focus></textarea>
                        </md-input-container>

                    </div>

                    <div class="w-40" hide-xs></div>
                    <div layout="column" class="w-220">
                        <md-input-container  class="md-icon-float md-block mb-0">
                            <label>Valor (obrigatório)</label>
                            <input ng-model="vm.row.valor" ng-blur="vm.calcSaldo()" w3-money type="text" ng-required="true" >
                        </md-input-container>
                        <md-input-container>
                            <label >Multa R$</label>
                            <input type="text" ng-blur="vm.calcSaldo()"  w3-money ng-model="vm.row.vl_multa" />
                        </md-input-container>
                        <md-input-container>
                            <label>Juros R$</label>
                            <input type="text" ng-blur="vm.calcSaldo()"  w3-money ng-model="vm.row.vl_juros" />
                        </md-input-container>
                        <md-input-container>
                            <label>Desconto R$</label>
                            <input type="text" ng-blur="vm.calcSaldo()"  w3-money ng-model="vm.row.vl_desconto" />
                        </md-input-container>
                        <div Layout="row" layout-align="space-between center">
                            <b>Total:</b>
                            <b>{{vm.saldo|currency:'R$ '}}</b>
                        </div>
                    </div>

                </div>

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="space-between center">

            <md-button ng-click="vm.restaurarLancamento(vm.row)" aria-label="restaurar"
                       ng-if="vm.row.infos.cancelado" class="green-500-fg">
                <md-icon md-font-icon="icon-replay" class="icon s28 green-500-fg"></md-icon>
                Restaurar
            </md-button>

            <md-button ng-click="vm.cancelConfirmDialog(vm.row, $event)" aria-label="cancelar"
                       ng-if="!vm.isNew && !vm.row.infos.cancelado && !vm.row.infos.reconciliado" class="amber-500-fg">
                <md-icon md-font-icon="icon-power" class="icon s30 amber-500-fg"></md-icon>
                Cancelar
            </md-button>

            <div flex layout="row" layout-align="center center">
                <span class="secondary-text" ng-if="vm.row.infos.cancelado">Este lançamento está cancelado e você não pode alterar lançamentos cancelados</span>
                <span class="secondary-text" ng-if="vm.row.infos.reconciliado">Este lançamento já foi reconciliado e você não pode alterar lançamentos reconciliados</span>
            </div>

            <md-button type="button" ng-click="vm.closeDialog(false)"
                       class="md-warn"
                       aria-label="Cancelar">
                <span > Voltar </span>
            </md-button>

            <md-button type="submit" ng-if="!vm.isNew" ng-click="vm.save()"
                       class="send-button md-accent md-raised"
                       ng-disabled="dialogForm.$invalid || vm.row.infos.cancelado || vm.row.infos.reconciliado"
                       aria-label="Salvar">
                <span translate="COMMON.SALVAR"> Salvar </span>
            </md-button>

            <md-button type="submit" ng-if="vm.isNew" ng-click="vm.save()"
                       class="send-button md-accent md-raised"
                       ng-disabled="dialogForm.$invalid || dialogForm.$pristine"
                       aria-label="Adicionar">
                <span > Lançar pagamento </span>
            </md-button>

        </md-dialog-actions>


    </form>

</md-dialog>
