<div id="rapi-page-archive" class="page-layout carded fullwidth single-scroll" layout="row">

    <div class="top-bg md-accent-bg "></div>

    <div class="center" layout="column" flex>

        <div class="header" layout="row" layout-align="space-between center" layout-xs="column"  layout-align-xs="space-between start" >
            <div class="white-fg" layout="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-percent"></md-icon>
                    <span >Encargos padrão</span>
                </div>
            </div>
        </div>

        <div class="content-card p-0" layout="column" flex>
            <div class="md-padding">
                <form ng-submit="vm.configurarEncargo()">


                    <p class="secondary-text">
                        Altere abaixo as configurações padrão de encargos que serão cobradas nas suas transações.
                    </p>
                    <div layout="row">
                        <div flex layout="row" layout-align="start center">
                            <div  class="w-100"><b>Multa</b></div>
                            <md-input-container class="w-120 mt-0">
                                <label>Tipo</label>
                                <md-select ng-model="vm.metaEncagos.multa_tipo">
                                    <md-option value="fixo">Fixa</md-option>
                                    <md-option value="percentual">Percentual</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container ng-if="vm.metaEncagos.multa_tipo === 'percentual'" class="ajuste--5">
                                <label > %</label>
                                <input type="text"  mask="{{$root.fmask.porcentage}}" ng-model="vm.metaEncagos.multa" />
                            </md-input-container> 
                            <md-input-container ng-if="vm.metaEncagos.multa_tipo === 'fixo'" class="ajuste--5">
                                <label > R$</label>
                                <input type="text"   w3-money  ng-model="vm.metaEncagos.multa" />
                            </md-input-container>
                        </div>
                        <md-divider></md-divider>
                        <div flex  layout="row" layout-align="start center" class="pl-16">
                            <div  class="w-100"><b>Juros</b></div>
                            <md-input-container class="w-120 mt-0">
                                <label>Tipo</label>
                                <md-select ng-model="vm.metaEncagos.juros_tipo">
                                    <md-option value="fixo">Fixo</md-option>
                                    <md-option value="percentual">Percentual</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container ng-if="vm.metaEncagos.juros_tipo === 'percentual'"  class="ajuste--5">
                                <label > %</label>
                                <input type="text"   mask="{{$root.fmask.porcentage}}" ng-model="vm.metaEncagos.juros" />
                            </md-input-container> 
                            <md-input-container ng-if="vm.metaEncagos.juros_tipo === 'fixo'"  class="ajuste--5">
                                <label > R$</label>
                                <input type="text"  w3-money  ng-model="vm.metaEncagos.juros" />
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="row" layout-align="start center">
                        <md-input-container class="w-230">
                            <label>Adicionar ao valor</label>
                            <md-select ng-model="vm.metaEncagos.juros_freq" aria-label="tipo cobrança">
                                <md-option value="diario" >Automaticamente ao dia</md-option>
                                <md-option value="mensal" >Automaticamente ao mês</md-option>
                            </md-select>
                        </md-input-container>

                    </div>

                    <div layout="row" layout-align="end end">
                        <md-button ng-click="vm.clearForm()" class="md-warn">Cancelar</md-button>
                        <md-button type="submit" class="md-accent md-raised">Salvar configuração</md-button>
                    </div>
                </form>
            </div>

        </div>

    </div>

</div>
