<md-dialog class="single-dialog dialog-800 dialog-programar" aria-label="Dialog" translate-attr-aria-label="DIALOG.MANUTENCAO_DIALOG">

    <form name="dialogForm" class="md-inline-form  form-small  form-slim" novalidate>

        <md-toolbar class="red-500-bg" layout="column" ng-class="vm.config.bg_color_class" >

            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                <span ng-if="vm.isNew" class="title">{{vm.config.title}}</span>
                <span ng-if="!vm.isNew" class="title">{{vm.config.title_edit}}</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog(false)" aria-label="Fechar" translate translate-attr-aria-label="COMMON.FECHAR_DIALOG">
                    <md-icon md-font-icon="icon-close" class="s24"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="no-padding" >
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab >
                    <md-tab-label>
                        <span >Cadastro</span>
                    </md-tab-label>
                    <md-tab-body >
                        <div class="md-padding" style="overflow: visible;">

                            <div layout="row" layout-align="start center">
                                <md-autocomplete flex="70"
                                    md-no-cache="ctrl.noCache"
                                    md-selected-item="vm.selectedEntidade"
                                    md-search-text-change="ctrl.searchTextChange(vm.searchTextF)"
                                    md-search-text="vm.searchTextF"
                                    md-selected-item-change="vm.onSelectedFavorecido(vm.selectedEntidade)"
                                    md-items="item in vm.querySearchEntidade(vm.searchTextF)"
                                    md-item-text="item.lbTable + ': ' + item.nome"
                                    md-min-length="2"
                                    class="mr-8  mb-0 mt-0" flex
                                    ng-required="true"
                                    md-floating-label="{{vm.config.label}}">
                                    <md-item-template>
                                        <span md-highlight-text="vm.searchTextF" md-highlight-flags="^i">{{item.lbTable}}:{{item.nome}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        Não encontrado
                                        <a ng-click="vm.saveNovoFavorecido(vm.searchTextF)">Cadastrar {{vm.searchTextF}} agora!</a>
                                    </md-not-found>
                                </md-autocomplete>
                                <md-button flex="5" ng-if="vm.row.entidade_id" ng-click="vm.editFornecedor(vm.row.entidade_id)" class="md-icon-button" aria-label="editar">
                                    <md-icon md-font-icon="icon-border-color"></md-icon>
                                </md-button>
                                <md-input-container flex="25">
                                    <label>Marcador</label>
                                    <input type="text" ng-model="vm.row.marcador" />
                                </md-input-container>
                            </div>

                            <div layout="row">
                                <md-input-container  flex flex-gt-xs="50" class="md-icon-float md-block no-margin">
                                    <label>Histórico</label>
                                    <input ng-model="vm.row.historico" type="text" ng-required="true" >
                                </md-input-container>
                                <md-input-container flex flex-gt-xs="30" class="mt-0 mb-0">
                                    <label>Forma de pagamento</label>
                                    <md-select ng-model="vm.row.forma_pagamento_id" >
                                        <md-option ng-value="opt.id" ng-repeat="opt in vm.documentos">{{opt.nome}}</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container  flex flex-gt-xs="20" class="mt-0 mb-0" >
                                    <label>Número</label>
                                    <input ng-model="vm.row.referencia" type="text" >
                                </md-input-container>
                            </div>

                            <div layout="row">
                                <md-input-container flex>
                                    <label>Data de emissão</label>
                                    <input   type="date" ng-model="vm.row.dt_emissao">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Data competência</label>
                                    <input   type="date" ng-model="vm.row.dt_competencia">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Vencimento</label>
                                    <input   type="date" ng-model="vm.row.dt_prevista">
                                </md-input-container>
                            </div>

                            <div layout="row">
                                <div flex layout="column">
                                    <md-input-container class="md-icon-float md-block">
                                        <label translate="PROGRAMAR.FORM.CONTA">Conta</label>
                                        <md-select ng-model="vm.row.conta_id" ng-required="true" >
                                            <md-option ng-value="row.id" ng-repeat="row in vm.contas">{{row.nome}}</md-option>
                                        </md-select>
                                    </md-input-container>

                                    <rf-ac-plano-conta tipo="vm.config.operacao" plano="vm.row.planoConta"  ac-required="{{vm.row.plano_conta_id ? false : true}}" on-change-plano="vm.onChangePlano"></rf-ac-plano-conta>

                                    <md-input-container>
                                        <label>Centro de custo</label>
                                        <md-select ng-model="vm.row.centro_custo_id"
                                                   data-md-container-class="selectdemoSelectHeader">
                                            <md-select-header class="demo-select-header">
                                                <input ng-model="vm.searchTermCentroCusto"
                                                       type="search"
                                                       ng-keydown="$event.stopPropagation()"
                                                       placeholder="Centro de custo"
                                                       class="demo-header-searchbox md-text">
                                            </md-select-header>
                                            <md-optgroup ng-repeat="nv1 in vm.centros" label=" {{nv1.nome}}">
                                                <md-option ng-value="nv2.id" ng-repeat="nv2 in nv1.filhos.data | filter: vm.searchTermCentroCusto">{{nv2.nome}}</md-option>
                                            </md-optgroup>

                                        </md-select>
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <label>Detalhes</label>
                                        <textarea ng-model="vm.row.detalhes"  rows="2" md-select-on-focus></textarea>
                                    </md-input-container>
                                </div>

                                <div class="w-80" hide-xs></div>
                                <div layout="column" class="w-220">

                                    <md-input-container  >
                                        <label >Frequência</label>
                                        <md-select  ng-model="vm.row.frequencia" ng-disabled="!vm.isNew">
                                            <md-option ng-value="item.key" ng-repeat="item in vm.frequencia">{{item.label}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <!--                                    <md-input-container class="mb-8" ng-if="vm.row.frequencia != 'unica'">
                                                                            <label>Repetir até</label>
                                                                            <md-datepicker class=" h-54" flex ng-model="vm.row.frequencia_fim" ng-disabled="!vm.isNew || vm.row.frequencia == 'unica'" ng-required="vm.isNew && vm.row.frequencia !== 'unica'" md-min-date="vm.row.dt_prevista"></md-datepicker>
                                                                        </md-input-container>-->

                                    <md-input-container flex ng-if="vm.row.frequencia != 'unica'">
                                        <label>Repetir até</label>
                                        <input   type="date" class=" h-54" flex ng-model="vm.row.frequencia_fim" ng-disabled="!vm.isNew || vm.row.frequencia == 'unica'" ng-required="vm.isNew && vm.row.frequencia !== 'unica'">
                                    </md-input-container>

                                    <md-input-container  class="md-icon-float md-block no-margin">
                                        <label translate="PROGRAMAR.FORM.VALOR">Valor (obrigatório)</label>
                                        <input ng-model="vm.row.valor"  ng-blur="vm.calcSaldo()" w3-money type="text" ng-required="true" >
                                    </md-input-container>
<!--                                    <md-button>
                                        <md-icon
                                    </md-button>-->
                                </div>
                            </div>

                        </div>
                    </md-tab-body>
                </md-tab>
                <!--                <md-tab>
                                    <md-tab-label>
                                        <span >Informações adicionais</span>
                                    </md-tab-label>
                                    <md-tab-body>
                                        <div class="md-padding">
                                            <div layout="row">
                                                <md-input-container class="w-230">
                                                    <label>Adicionar ao valor</label>
                                                    <md-select ng-model="vm.row.options.juros_freq" aria-label="tipo cobrança">
                                                        <md-option value="diario" >Automaticamente ao dia</md-option>
                                                        <md-option value="mensal" >Automaticamente ao mês</md-option>
                                                        <md-option value="manual" >Manualmente</md-option>
                                                    </md-select>
                                                </md-input-container>
                                            </div>
                                            <div layout="row" layout-align="start center">
                                                <div  class="w-100"><b>Multa</b></div>
                                                <md-input-container class="w-120">
                                                    <label>Tipo</label>
                                                    <md-select ng-model="vm.row.options.multa_tipo">
                                                        <md-option value="fixo">Fixa</md-option>
                                                        <md-option value="percentual">Percentual</md-option>
                                                    </md-select>
                                                </md-input-container>
                                                <md-input-container ng-if="vm.row.options.multa_tipo === 'percentual'" class="ajuste--5">
                                                    <label > %</label>
                                                    <input type="text"  mask="{{$root.fmask.porcentage}}" ng-model="vm.row.options.multa" />
                                                </md-input-container>
                                                <md-input-container ng-if="vm.row.options.multa_tipo === 'fixo'" class="ajuste--5">
                                                    <label > R$</label>
                                                    <input type="text"   w3-money  ng-model="vm.row.options.multa" />
                                                </md-input-container>
                                            </div>
                                            <div  layout="row" layout-align="start center" >
                                                <div  class="w-100"><b>Juros</b></div>
                                                <md-input-container class="w-120">
                                                    <label>Tipo</label>
                                                    <md-select ng-model="vm.row.options.juros_tipo">
                                                        <md-option value="fixo">Fixo</md-option>
                                                        <md-option value="percentual">Percentual</md-option>
                                                    </md-select>
                                                </md-input-container>
                                                <md-input-container ng-if="vm.row.options.juros_tipo === 'percentual'"  class="ajuste--5">
                                                    <label > %</label>
                                                    <input type="text"   mask="{{$root.fmask.porcentage}}" ng-model="vm.row.options.juros" />
                                                </md-input-container>
                                                <md-input-container ng-if="vm.row.options.juros_tipo === 'fixo'"  class="ajuste--5">
                                                    <label > R$</label>
                                                    <input type="text"  w3-money  ng-model="vm.row.options.juros" />
                                                </md-input-container>
                                            </div>


                                        </div>
                                    </md-tab-body>
                                </md-tab>-->
                <md-tab ng-if="!vm.isNew && !vm.row.pai_id">
                    <md-tab-label></md-tab-label>
                    <md-tab-body></md-tab-body>
                </md-tab>

                <md-tab md-on-select="vm.initParc()" ng-if="vm.isNew">
                    <md-tab-label>
                        <span >Parcelamento</span>
                    </md-tab-label>
                    <md-tab-body >
                        <div class="md-padding" style="overflow: visible;">
                            <div layout="column">
                                <span class="pb-16">Nesta tab você pode separar em parcelamentos o valor total a ser pago</span>

                                <div layout="row" >
                                    <md-input-container flex flex-gt-xs="25" class="no-margin">
                                        <label translate="PROGRAMAR.FORM.VALOR">Valor (obrigatório)</label>
                                        <input ng-model="vm.row.valor" ng-blur="vm.calcSaldo()"  w3-money type="text" ng-required="true" >
                                    </md-input-container>
                                    <md-input-container flex  flex-gt-xs="25" class="no-margin">
                                        <label >Valor total</label>
                                        <input ng-model="vm.saldo" w3-money type="text" ng-required="true" ng-disabled="true" >
                                    </md-input-container>
                                </div>
                            </div>
                            <div layout="row" layout-align="space-between center" >


                                <md-input-container flex >
                                    <label translate="PROGRAMAR.FORM.NUM_PARCELAS">Núm. parcelas</label>
                                    <input type="number" ng-model="vm.ger.vezes" />
                                </md-input-container>

                                <md-input-container class="w-150">
                                    <label>Vencimento</label>
                                    <input  ng-model="vm.ger.data_parcela" type='date'/>
                                </md-input-container>
                                <!--<md-datepicker  md-placeholder="Validade" style="margin-top: -20px;"></md-datepicker>-->
                                <span flex="5"></span>
                                <md-input-container flex class="mt-0 mb-24">
                                    <label>Forma de pagamento</label>
                                    <md-select ng-model="vm.ger.forma_pagamento_id" aria-label="formas de pagamentos">
                                        <md-option ng-value="fom.id" ng-repeat="fom in vm.documentos">{{fom.nome}}</md-option>
                                    </md-select>
                                </md-input-container>
                                <div >
                                    <md-button style="    margin-bottom: 38px;" ng-click="vm.gerarPagamentos()" aria-label="gerar" class="md-raised md-primary">Gerar</md-button>
                                </div>
                            </div>

                            <div layout="row" ng-show="vm.valor_restante && vm.parcelamento.length" ng-class="{
                                    'red-100-bg': vm.valor_restante !== 0}" class="p-16 mb-16">
                                <div flex layout="column">
                                    <div>
                                        <span translate="PROGRAMAR.FORM.VALOR_TOTAL"> Valor total:</span>
                                        <span class="md-title"> {{vm.saldo|currency:"R$ "}}</span>
                                    </div>

                                    <div>
                                        <span translate="PROGRAMAR.FORM.SOMA_DIVISAO"> Soma da divisão:</span>
                                        <span class="md-title" > {{vm.row.saldo - vm.valor_restante|currency:"R$ "}}</span>

                                    </div>
                                    <div>
                                        <span translate="PROGRAMAR.FORM.VALOR_RESTANTE"> Valor restante da divisão:</span>
                                        <span class="md-title" ng-class="{
                                                'red-500-fg': vm.valor_restante !== 0}"> {{vm.valor_restante|currency:"R$ "}}</span>

                                    </div>
                                </div>
                                <div flex>
                                    <span ng-show="vm.valor_restante !== 0" class="md-title secondary-text" translate="PROGRAMAR.FORM.SOMA_NAO_CONFERE" >A soma ainda não confere :(</span>
                                </div>
                            </div>

                            <table ng-if="vm.parcelamento.length" class="border row-border hover width-percet simple" flex>
                                <thead>
                                    <tr>
                                        <th class="secondary-text" >
                                            <div class="table-header">
                                                <span class="column-title">Histórico</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text" >
                                            <div class="table-header">
                                                <span class="column-title" translate="PROGRAMAR.FORM.VENCIMENTO">Vencimento</span>
                                            </div>
                                        </th>

                                        <th class="secondary-text" >
                                            <div class="table-header">
                                                <span class="column-title" translate="PROGRAMAR.FORM.VALOR">Valor (R$)</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title" translate="PROGRAMAR.FORM.FORMA_PAGAMENTO">Forma de pagamento</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">

                                            </div>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.parcelamento">
                                        <td>
                                            {{$index + 1}}/{{vm.ger.vezes}}
                                        </td>
                                        <td>

                                            <input   type="date"  ng-model="item.dt_prevista"  class="w-150" md-placeholder="Validade">

                                        </td>
                                        <td>
                                            <input ng-change="vm.reCalc()" aria-label=" valor parcela" class="w-100" w3-money  ng-model="item.valor" />
                                        </td>
                                        <td>
                                            <div layout="row">
                                                <md-input-container flex style="width:89%;">
                                                    <md-select ng-model="item.forma_pagamento_id" aria-label="formas de pagamentos">
                                                        <md-option ng-value="fom.id" ng-repeat="fom in vm.documentos">{{fom.nome}}</md-option>
                                                    </md-select>
                                                </md-input-container>

                                                <md-button class="md-icon-button mt-16" ng-click="vm.repeatFormaPagamento(item.forma_pagamento_id, $index)">
                                                    <md-icon md-font-icon="icon-arrange-bring-to-front s24"></md-icon>
                                                    <md-tooltip><span translate="PROGRAMAR.FORM.REPETIR_FORMA_PAGAMENTO">Repetir forma de pagamento para todos</span></md-tooltip>
                                                </md-button>
                                            </div>
                                        </td>
                                        <td class="text-right">

                                <md-button class="md-icon-button" ng-click="vm.removeParcela(item, $index)" aria-label="Fechar" >
                                    <md-icon md-font-icon="icon-close s24"></md-icon>
                                </md-button>
                                </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </md-tab-body>
                </md-tab>


                <md-tab md-on-select="vm.loadParcelas()" ng-if="!vm.isNew && vm.row.pai_id">
                    <md-tab-label>
                        <span >Parcelas</span>
                    </md-tab-label>
                    <md-tab-body >
                        <div class="md-padding" style="overflow: visible;">

                            <table ng-if="vm.parcelas.length" class="border row-border hover width-percet simple" flex>
                                <thead>
                                    <tr>
                                        <th class="secondary-text" >
                                            <div class="table-header">
                                                <span class="column-title">Parc.</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text" >
                                            <div class="table-header">
                                                <span class="column-title" translate="PROGRAMAR.FORM.VENCIMENTO">Vencimento</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text" >
                                            <div class="table-header">
                                                <span class="column-title" translate="PROGRAMAR.FORM.VALOR">Valor (R$)</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Forma pgto</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Situação</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">Opção</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.parcelas">
                                        <td>
                                            {{item.n_parcela}}/{{item.qt_parcela}}
                                        </td>
                                        <td>{{item.dt_prevista|w3FromDatePt}}</td>
                                        <td>{{item.operacao === "D" ? item.vl_despesa : item.vl_receita}}</td>
                                        <td>{{item.formaPagamento.nome}} </td>
                                        <td>
                                <md-icon ng-if="item.infos.compensado" md-font-icon="icon-check" class="green-500-fg">
                                    <md-tooltip>Lançado</md-tooltip>
                                </md-icon>
                                <md-icon ng-if="item.infos.atrasado" md-font-icon="icon-alert" class="red-500-fg">
                                    <md-tooltip>Atrasado</md-tooltip>
                                </md-icon>
                                <md-icon ng-if="item.infos.cancelado" md-font-icon="icon-block-helper" class="grey-600-fg">
                                    <md-tooltip>Cancelado</md-tooltip>
                                </md-icon>
                                <md-icon ng-if="item.infos.hoje" md-font-icon="icon-calendar-today" class="light-blue-500-fg">
                                    <md-tooltip>Hoje</md-tooltip>
                                </md-icon>
                                <span ng-if="!item.infos.hoje && !item.infos.cancelado && !item.infos.atrasado && !item.infos.compensado">Normal</span>
                                </td>
                                <td class="text-right">
                                <md-button ng-if="!item.infos.compensado && !item.infos.cancelado" ng-click="vm.openBaixarProgDialog(item, $event)" type="button" ng-if="!vm.isNew && !vm.row.infos.compensado && !vm.infos.cancelado">
                                    Baixar
                                </md-button>
                                </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </md-tab-body>
                </md-tab>

            </md-tabs>



        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div flex layout-align="start end">


                <md-checkbox ng-if="vm.isNew" ng-model="vm.continue">
                    Salvar e adicionar outro
                </md-checkbox>
                <md-checkbox  ng-if="!vm.isNew" ng-model="vm.openBaixa">
                    Baixar
                </md-checkbox>

            </div>
            <div layout="row" layout-align="end center">
                <md-button type="button" ng-click="vm.closeDialog(false)"
                           class="md-warn"
                           aria-label="Cancelar">
                    <span translate="COMMON.CANCELAR"> Cancelar </span>
                </md-button>

                <md-button type="submit" ng-if="!vm.isNew" ng-click="vm.save()"
                           class="send-button md-accent md-raised"
                           ng-disabled="dialogForm.$invalid || vm.saldo < 0"
                           aria-label="Salvar">
                    <span translate="COMMON.SALVAR"> Salvar </span>
                </md-button>

                <md-button type="submit" ng-if="vm.isNew" ng-click="vm.save()"
                           class="send-button md-accent md-raised"
                           ng-disabled="dialogForm.$invalid || dialogForm.$pristine || vm.saldo < 0"
                           aria-label="Adicionar">
                    <span translate="COMMON.ADICIONAR"> Adicionar </span>
                </md-button>

            </div>
        </md-dialog-actions>


    </form>

</md-dialog>
