<div id="rapi-page-archive" class="page-layout carded fullwidth single-scroll" layout="row">

    <div class="top-bg md-accent-bg"></div>

    <div class="center" layout="column" flex>

        <div class="header" layout="row" layout-align="space-between center" layout-xs="column"  layout-align-xs="space-between start" >
            <div class="white-text" layout="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-book-multiple"></md-icon>
                    <span translate="CENTRO_CUSTO.TITLE_ARCHIVE">Centro de Custo</span>
                </div>
                <!--
                <div class="product-count secondary-text">
                    <span translate="CENTRO_CUSTO.TOTAL" translate-values="{'total':vm.pagination.total}">Total de cadastros {vm.pagination.total}</span>
                </div>
                -->
            </div>

            <div layout="row">
                <div class="search" layout="row" layout-align="start center" flex>
                    <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                    <input id="e-commerce-products-search" class="search-input" type="text" placeholder="Buscar"  translate translate-attr-placeholder="COMMON.BUSCAR" ng-model="vm.search" flex>
                </div>
                <md-button ng-click="vm.showCreate($event)" class="md-fab md-primary" aria-label="adicionar novo"  translate translate-attr-aria-label="COMMON.ADICIONAR_NOVO">
                    <md-icon md-font-icon="icon-plus"></md-icon>
                </md-button>
            </div>
        </div>

        <div class="content-card" layout="column" flex>

            <div class="content fullpage-datatable" ms-scroll>

                <!--#{{vm.params}}#-->
                <md-progress-linear ng-class="{'progress-invisible' : !vm.loading}" md-mode="indeterminate"></md-progress-linear>

                <div layout="row" class="bb secondary-text">
                    <div flex="20" class="pl-24 pv-16"><b>Nível 1</b></div>
                    <div flex="20" class="pl-8 pv-16"><b>Nível 2</b></div>
                    <div flex="30" class="pl-8 pv-16"><b>Descrição</b></div>
                    <div flex="15" class="pl-8 pv-16"><b>Status</b></div>
                    <div flex="15" class="pl-8 pv-16"><b>Opções</b></div>
                </div>
                <div ng-repeat="item in vm.archive|orderBy:'nome'">
                    <div layout="row" class=" bb">
                        <div flex="20" class="pl-24 pv-16 pointer" ng-click="vm.showEdit(item, $event)">{{item.nome}}</div>
                        <div flex="20" class="pl-8 pv-16"></div>
                        <div flex="30" class="pl-8 pv-16">{{item.descricao}}</div>
                        <div flex="15" class="pl-8 pv-16">
                            <span ng-if="item.status" class="text-boxed md-accent-bg"> Ativo</span>
                            <span ng-if="!item.status" class="text-boxed"> Inativo</span>
                        </div>
                        <div flex="15" layout="row">
                            <md-menu>
                                <md-button class="md-icon-button" aria-label="mais opções"  translate translate-attr-aria-label="COMMON.MAIS_OPCOES">
                                    <md-icon md-font-icon="icon-dots-vertical" ng-click="$mdMenu.open()"></md-icon>
                                </md-button>

                                <md-menu-content width="3">
                                    <md-menu-item>
                                        <md-button ng-click="vm.showEdit(item, $event)" class=" md-accent" aria-label="Editar" translate translate-attr-aria-label="COMMON.EDITAR">
                                            <md-icon md-font-icon="icon-border-color" class="icon s28"></md-icon>
                                            {{'COMMON.EDITAR'|translate}}
                                        </md-button>
                                    </md-menu-item>

                                    <md-divider></md-divider>
                                    <md-menu-item>
                                        <md-button ng-click="vm.confirmDelete(item, $event)" class="md-warn" aria-label="Excluir" translate translate-attr-aria-label="COMMON.EXCLUIR">
                                            <md-icon md-font-icon="icon-delete" class="icon s26"></md-icon>
                                            {{'COMMON.EXCLUIR'|translate}}
                                        </md-button>
                                    </md-menu-item>

                                </md-menu-content>
                            </md-menu>
                            <md-button class="md-icon-button  no-margin"  ng-click="vm.showCreate($event, item.id)" aria-label="Fechar" translate translate-attr-aria-label="COMMON.FECHAR_DIALOG">
                                <md-icon md-font-icon="icon-plus s24"></md-icon>
                                <md-tooltip>Adicionar subitem</md-tooltip>
                            </md-button>
                        </div>
                    </div>
                    <div layout="row" ng-repeat="row in item.filhos.data|filter:vm.search|orderBy:'nome'" class=" bb">
                        <div flex="20" class="pl-24 pv-16"></div>
                        <div flex="20" class="pl-8 pv-16 pointer" ng-click="vm.showEdit(row, $event)">{{row.nome}}</div>
                        <div flex="30" class="pl-8 pv-16">{{row.descricao}}</div>
                        <div flex="15" class="pl-8 pv-16">
                            <span ng-if="row.status" class="text-boxed md-accent-bg"> Ativo</span>
                            <span ng-if="!row.status" class="text-boxed"> Inativo</span>
                        </div>
                        <div flex="15">
                            <md-menu>
                                <md-button class="md-icon-button" aria-label="mais opções"  translate translate-attr-aria-label="COMMON.MAIS_OPCOES">
                                    <md-icon md-font-icon="icon-dots-vertical" ng-click="$mdMenu.open()"></md-icon>
                                </md-button>

                                <md-menu-content width="3">
                                    <md-menu-item>
                                        <md-button ng-click="vm.showEdit(row, $event)" class=" md-accent" aria-label="Editar" translate translate-attr-aria-label="COMMON.EDITAR">
                                            <md-icon md-font-icon="icon-border-color" class="icon s28"></md-icon>
                                            {{'COMMON.EDITAR'|translate}}
                                        </md-button>
                                    </md-menu-item>

                                    <md-divider></md-divider>
                                    <md-menu-item>
                                        <md-button ng-click="vm.confirmDelete(row, $event)" class="md-warn" aria-label="Excluir" translate translate-attr-aria-label="COMMON.EXCLUIR">
                                            <md-icon md-font-icon="icon-delete" class="icon s26"></md-icon>
                                            {{'COMMON.EXCLUIR'|translate}}
                                        </md-button>
                                    </md-menu-item>

                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
