<md-dialog class="single-dialog dialog-800 dialog-programar" aria-label="Dialog" translate-attr-aria-label="DIALOG.MANUTENCAO_DIALOG">

    <form name="dialogForm" class="md-inline-form  form-small form-slim" novalidate>

        <md-toolbar  layout="column" ng-class="{'green-500-bg':vm.row.operacao === 'R', 'red-500-bg':vm.row.operacao === 'D'}" >

            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                <span  class="title">Baixar pagamento</span>

                <md-button class="md-icon-button" ng-click="vm.closeDialog(false)" aria-label="Fechar" translate translate-attr-aria-label="COMMON.FECHAR_DIALOG">
                    <md-icon md-font-icon="icon-close" class="s24"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="no-padding" >

            <div class="md-padding pb-0-imp" style="overflow: visible;">
                <div layout="row">
                    <div flex layout="column">

                    <div layout=row>
                        <md-input-container flex="75">
                            <label>Entidade</label>
                            <input ng-model="vm.row.entidade.nome" ng-disabled="true">
                        </md-input-container>
                        <md-input-container flex="25">
                            <label>Marcador</label>
                            <input type="text" ng-model="vm.row.marcador" />
                        </md-input-container>
                    </div>

                        <md-input-container   class="md-icon-float md-block no-margin">
                            <label>Histórico</label>
                            <input ng-model="vm.row.historico" type="text" ng-required="true" >
                        </md-input-container>



                        <md-input-container class="md-icon-float md-block">
                            <label>Conta</label>
                            <md-select ng-model="vm.row.conta_id" ng-required="true" >
                                <md-option ng-value="row.id" ng-repeat="row in vm.contas">{{row.nome}}</md-option>
                            </md-select>
                        </md-input-container>

                        <rf-ac-plano-conta flex  tipo="vm.row.operacao"  class="h-50" plano="vm.row.planoConta" ac-required="{{vm.row.plano_conta_id ? false : true}}" on-change-plano="vm.onChangePlano"></rf-ac-plano-conta>

                        <md-input-container>
                            <label>Centro de custo</label>
                            <md-select ng-model="vm.row.centro_custo_id"
                                       data-md-container-class="selectdemoSelectHeader">
                                <md-select-header class="demo-select-header">
                                    <input ng-model="vm.searchTermCentroCusto"
                                           type="search"
                                           ng-keydown="$event.stopPropagation()"
                                           placeholder="Centro de custo"
                                           class="demo-header-searchbox md-text">
                                </md-select-header>
                                <md-optgroup ng-repeat="nv1 in vm.centros" label=" {{nv1.nome}}">
                                    <md-option ng-value="nv2.id" ng-repeat="nv2 in nv1.filhos.data| filter: vm.searchTermCentroCusto">{{nv2.nome}}</md-option>
                                </md-optgroup>

                            </md-select>
                        </md-input-container>

                        <md-input-container class="md-block mt-8">
                            <label>Detalhes</label>
                            <textarea ng-model="vm.row.detalhes"  rows="3" md-select-on-focus></textarea>
                        </md-input-container>

                        <md-checkbox ng-model="vm.enableJuros" ng-change="vm.toggleJuros()" aria-label="Cadastrar juros manualmente">
                            Cadastrar multa e juros manualmente
                        </md-checkbox>
                        <!--                        <div layout="row" layout-align="start center">
                                                    <small class="secondary-text">
                                                        {{vm.row.options|rfFraseEncargos}}
                                                    </small>
                                                    <md-icon ng-disabled="!vm.dtPagamento" ng-click="vm.toggleconfJuros()" md-font-icon="icon-cog" class="ml-8"></md-icon>
                                                    <span flex></span>
                                                    <md-tooltip ng-if="!vm.dtPagamento">Para alterar as informações de encargos primeiro selecione uma data de pagamento.</md-tooltip>
                                                </div>-->

                    </div>

                    <div class="w-40" hide-xs></div>

                    <div layout="column" class="w-220">

                        <md-input-container >
                            <label>Forma de pagamento</label>
                            <md-select ng-model="vm.row.forma_pagamento_id" ng-required="true">
                                <md-option ng-value="opt.id" ng-repeat="opt in vm.documentos">{{opt.nome}}</md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container ng-if="vm.row.dt_prevista" class="md-icon-float md-block mb-0">
                            <label>Vencimento</label>
                            <input   type="date" ng-model="vm.row.dt_prevista" ng-disabled="vm.row.dt_prevista">
                        </md-input-container>
                        <md-input-container flex class="md-icon-float md-block mb-0">
                            <label>Data de pagamento</label>
                            <input   type="date"  ng-model="vm.dtPagamento" ng-change="vm.updateEncargos()" ng-required="true">
                        </md-input-container>

                        <md-input-container  class="md-icon-float md-block mb-0">
                            <label>Valor (obrigatório)</label>
                            <input ng-model="vm.row.valor" ng-blur="vm.updateEncargos()" w3-money type="text" ng-required="true" >
                        </md-input-container>

                        <md-input-container  class="md-icon-float md-block mb-0">
                            <label>Multa</label>
                            <input ng-model="vm.row.vl_multa" ng-change="vm.calcSaldo()"  w3-money type="text"  ng-disabled="!vm.enableJuros" >
                        </md-input-container>
                        <md-input-container  class="md-icon-float md-block mb-0">
                            <label>Juros</label>
                            <input ng-model="vm.row.vl_juros" ng-change="vm.calcSaldo()"    w3-money type="text"  ng-disabled="!vm.enableJuros" >
                        </md-input-container>


                        <md-input-container class="ajuste--5  mt-0">
                            <label>Desconto R$</label>
                            <input type="text" ng-change="vm.calcSaldo()"  w3-money ng-model="vm.row.vl_desconto" />
                        </md-input-container>

                        <div Layout="row" layout-align="space-between center">
                            <b>Total:</b>
                            <b>{{vm.saldo|currency:'R$ '}}</b>
                        </div>
                    </div>

                </div>


                <!-- \\conf juros -->

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">

            <md-button type="button" ng-click="vm.closeDialog(false)"
                       class="md-warn"
                       aria-label="Cancelar">
                <span > Cancelar </span>
            </md-button>

            <md-button type="submit"  ng-click="vm.baixar()"
                       class="send-button md-accent md-raised"
                       ng-disabled="dialogForm.$invalid || vm.row.infos.cancelado || vm.row.infos.reconciliado"
                       aria-label="Salvar">
                <span> Baixar </span>
            </md-button>

        </md-dialog-actions>


    </form>

</md-dialog>
