<md-dialog class="single-dialog dialog-600" aria-label="Dialog" translate-attr-aria-label="DIALOG.MANUTENCAO_DIALOG">

    <form name="dialogForm" class="md-inline-form" novalidate>

        <md-toolbar class="md-accenmd-tall" layout="column">

            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                <span ng-if="vm.isNew" class="title" translate="TIPO_CONTA.DIALOG.TITLE_NEW">Adicionar novo</span>
                <span ng-if="!vm.isNew" class="title"  translate-values="{'name':vm.row.nome}" translate="TIPO_CONTA.DIALOG.TITLE_EDIT">Editar</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Fechar" translate translate-attr-aria-label="COMMON.FECHAR_DIALOG">
                    <md-icon md-font-icon="icon-close s24"></md-icon>
                </md-button>
            </div><!-- / TOOLBAR TOP -->
        </md-toolbar>
       
        <md-dialog-content>
            
            <md-input-container class="md-icon-float md-block">
                <label translate="TIPO_CONTA.FORM.NOME">Nome (obrigatório)</label>
                <input ng-model="vm.row.nome" type="text" ng-required="true" md-autofocus>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label translate="TIPO_CONTA.FORM.DESCRICAO">Descricao (obrigatório)</label>
                <input ng-model="vm.row.descricao" type="text" >
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label translate="TIPO_CONTA.FORM.TIPO">Tipo (obrigatório)</label>
                <md-select ng-model="vm.row.tipo" ng-required="true">
                    <md-option ng-repeat="row in vm.tipos" ng-value="row.key">{{row.value}}</md-option>
                </md-select>
            </md-input-container>

        </md-dialog-content>
       
        <md-dialog-actions layout="row" layout-align="end center">
            <div layout="row" layout-align="end center">

                <md-button type="button" ng-click="vm.closeDialog()"
                           class="md-warn"
                           aria-label="Cancelar">
                          <span translate="COMMON.CANCELAR"> Cancelar </span>
                </md-button>

                <md-button type="submit" ng-if="!vm.isNew" ng-click="vm.update()"
                           class="send-button md-accent md-raised"
                           ng-disabled="dialogForm.$invalid"
                           aria-label="Salvar">
                           <span translate="COMMON.SALVAR"> Salvar </span>
                </md-button>

                <md-button type="submit" ng-if="vm.isNew" ng-click="vm.save()"
                           class="send-button md-accent md-raised"
                           ng-disabled="dialogForm.$invalid || dialogForm.$pristine"
                           aria-label="Adicionar">
                           <span translate="COMMON.ADICIONAR"> Adicionar </span>
                </md-button>

            </div>
        </md-dialog-actions>
        <!-- / DIALOG ACTIONS -->

    </form>

</md-dialog>
