<md-dialog class="single-dialog dialog-600 dialog-programar" aria-label="Dialog" translate-attr-aria-label="DIALOG.MANUTENCAO_DIALOG">

    <form name="dialogForm" class="md-inline-form  form-small" novalidate>

        <md-toolbar class="amber-900-bg" layout="column" >
            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                <span class="title">Conciliar</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog(false)" aria-label="Fechar" translate translate-attr-aria-label="COMMON.FECHAR_DIALOG">
                    <md-icon md-font-icon="icon-close" class="s24"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="no-padding" >
            <div class="md-padding" style="overflow: visible;">
                <span>Bloqueio de caixa</span>
                <div layout="row">
                    <md-input-container class="md-icon-float md-block mb-0" flex>
                        <label translate="LANCAMENTOS.FORM.CONTA">Conta</label>
                        <md-select ng-change="vm.onChangeConta(vm.row.conta_id)" ng-model="vm.row.conta_id" ng-required="true" >
                            <md-option ng-value="row.id" ng-repeat="row in vm.contas">{{row.nome}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex class="mb-0">
                        <label>Conciliar até:</label>
                        <md-datepicker ng-model="vm.row.data_final" ng-required="true" ng-change="vm.onChangeDtFinal(vm.row.data_final)"></md-datepicker>
                    </md-input-container>
                </div>
                <div layout="row" >
                    <md-input-container flex>
                        <label>Saldo no sistema</label>
                        <input type="text" w3-money ng-model="vm.saldoAtual" ng-disabled="true" />
                    </md-input-container>
                    <md-input-container flex>
                        <label>Valor do fechamento</label>
                        <input type="text" w3-money ng-model="vm.row.saldo" ng-required="true" />
                    </md-input-container>
                </div>
                <md-input-container class="md-block">
                    <label>Descrição</label>
                    <textarea ng-model="vm.row.descricao" md-maxlength="250" ></textarea>
                </md-input-container>
                <div ng-if="vm.info.error" class="md-amber-300-bg p-16 animate-slide-up" layout="column" >
                    <span>{{vm.info.message}}</span>
                    <b>Resta declarar: {{vm.info.diff | currency}}</b>
                    <md-button ng-click="vm.openNewLancamento($event)" class="md-raised mb-0 md-amber-500-fg">Lançar {{vm.info.diff? 'receita' : 'despesa'}}</md-button>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div flex></div>
            <div layout="row" layout-align="end center">

                <md-button type="button" ng-click="vm.closeDialog(false)"
                           class="md-warn"
                           aria-label="Cancelar">
                    <span translate="COMMON.CANCELAR"> Cancelar </span>
                </md-button>

                <md-button type="submit" ng-if="!vm.isNew" ng-click="vm.reconciliar()"
                           class="send-button md-accent md-raised"
                           ng-disabled="dialogForm.$invalid"
                           aria-label="Reconciliar">
                    <span> Reconciliar </span>
                </md-button>

            </div>
        </md-dialog-actions>

    </form>
</md-dialog>
