<div id="programar" class="page-layout simple left-sidenav inner-sidenav">

    <div class="header ph-24 pb-0 pt-0  animate-slide-down" ng-class="{'red-500-bg':vm.config.bg_color_class === 'red-500-bg', 'green-500-bg':vm.config.bg_color_class === 'green-500-bg', 'h-296': vm.searchActive}" >

        <div layout="row">
            <div layout="row" layout-align="start center" flex >

                <md-menu class="mb-8">
                    <md-button class="btn-switch white-text font-size-28" ng-click="$mdMenu.open()" aria-label="open menu">
                        {{vm.config.title}} &nbsp; &#9662;
                    </md-button>

                    <md-menu-content width="3">
                        <md-menu-item >
                            <md-button ng-click="vm.setOperacao('receita')" aria-label="Receita">
                                <span >Contas a receber</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item >
                            <md-button ng-click="vm.setOperacao('despesa')" aria-label="Receita">
                                <span >Contas a pagar</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>

            <div layout="row" layout-align="end center">
                <md-button  ng-click="vm.searchActive = !vm.searchActive"  class="md-icon-button" aria-label="Search" translate
                            translate-attr-aria-label="CALENDAR.SEARCH">
                    <md-icon md-font-icon="icon-magnify"></md-icon>
                    <md-tooltip><span translate="PROGRAMAR.BUSCAR">Buscar</span></md-tooltip>
                </md-button>
                <md-button  ng-click="vm.toggleSidenav('right')"  class="md-icon-button" aria-label="open sidenav" translate
                            translate-attr-aria-label="CALENDAR.SEARCH">
                    <md-icon md-font-icon="icon-chart-line"></md-icon>
                    <md-tooltip><span translate="PROGRAMAR.RESUMO">Resumo</span></md-tooltip>
                </md-button>
                <md-button ng-click="vm.openProgramarDialog($event)" class="md-fab md-primary grey-50-bg mr-20" aria-label="adicionar novo" >
                    <md-icon md-font-icon="icon-plus" ng-class="vm.config.fg_color_class"></md-icon>
                </md-button>

            </div>
        </div>

        <!-- / SEARCH -->
        <div ng-if="vm.searchActive" class="bottom  animate-slide-down" layout="column" layout-gt-sm="row" layout-align-gt-sm="end center">
            <div class="search-boxes" flex flex-gt-xs="75" layout="column">

                <div class="search-boxes  mb-8" flex flex-gt-xs="100" layout="column" layout-gt-xs="row">

                    <div class="search md-whiteframe-3dp mr-8" flex layout="row" layout-align="start center">
                        <md-chips flex
                                  ng-model="vm.selectedContas"
                                  md-transform-chip="vm.transformChip($chip)"
                                  md-require-match="true">
                            <md-autocomplete
                                md-selected-item="vm.selectedConta"
                                md-search-text="vm.searchContas"
                                md-items="item in vm.querySearchConta(vm.searchContas)"
                                md-item-text="item.nome"
                                placeholder="{{'PROGRAMAR.CONTA'|translate}}">
                                <span md-highlight-text="vm.searchText">{{item.nome}}</span>
                            </md-autocomplete>
                            <md-chip-template>
                                <span><strong>{{$chip.nome}}</strong></span>
                            </md-chip-template>
                        </md-chips>
                    </div>

                    <div class="search md-whiteframe-3dp" flex layout="row" layout-align="start center">
                        <md-select flex ng-model="vm.params.forma_pagamento_id"  md-on-open="vm.loadFormasPagamento()" placeholder="Forma de pagamento">
                            <md-option ng-value="null">Todas</md-option>
                            <md-option ng-value="item.id"
                                       ng-repeat="item in vm.formas_pagamento">
                                {{item.nome}}
                            </md-option>
                        </md-select>
                    </div>

                </div>

                <div class="search-boxes  mb-8" flex flex-gt-xs="100" layout="column" layout-gt-xs="row">

                    <div class="search md-whiteframe-3dp " flex layout="row" layout-align="start center">
                        <md-chips flex
                                  ng-model="vm.selectedEntidades"
                                  md-transform-chip="vm.transformChip($chip)"
                                  md-require-match="true">
                            <md-autocomplete
                                md-selected-item="vm.selectedEntidade"
                                md-search-text="vm.searchEntidades"
                                md-items="item in vm.querySearchEntidade(vm.searchEntidades)"
                                md-item-text="item.nome"
                                placeholder="{{'PROGRAMAR.FAVORECIDO'|translate}}">
                                <span md-highlight-text="vm.searchEntidades">{{item.nome}}
                                </span>
                            </md-autocomplete>
                            <md-chip-template>
                                <span>
                                    <strong>{{$chip.nome}}</strong>
                                </span>
                            </md-chip-template>
                        </md-chips>
                    </div>

                </div>

                <div class="search-boxes mb-8" flex flex-gt-xs="100" layout="column" layout-gt-xs="row">

                    <div class="search md-whiteframe-3dp mr-8" flex layout="row" layout-align="start center">
                        <md-chips flex
                                  ng-model="vm.selectedPlanos"
                                  md-transform-chip="vm.transformChip($chip)"
                                  md-require-match="true">
                            <md-autocomplete
                                md-selected-item="vm.selectedPlano"
                                md-search-text="vm.searchPlano"
                                md-items="item in vm.querySearchPlanos(vm.searchPlano)"
                                md-item-text="item.nome_codigo"
                                placeholder="{{'PROGRAMAR.PLANO_DE_CONTA'|translate}}">
                                <span md-highlight-text="vm.searchPlano">{{item.nome_codigo}}</span>
                            </md-autocomplete>
                            <md-chip-template>
                                <span><strong>{{$chip.nome_codigo}}</strong></span>
                            </md-chip-template>
                        </md-chips>
                    </div>

                    <div class="search md-whiteframe-3dp" flex layout="row" layout-align="start center">
                        <md-chips flex
                                  ng-model="vm.selectedCentrosCustos"
                                  md-transform-chip="vm.transformChip($chip)"
                                  md-require-match="true">
                            <md-autocomplete
                                md-selected-item="vm.selectedCentroCusto"
                                md-search-text="vm.searchCentroCusto"
                                md-items="item in vm.querySearchCentroCusto(vm.searchCentroCusto)"
                                md-item-text="item.nome"
                                placeholder="Centro de custo">
                                <span md-highlight-text="vm.searchCentroCusto">{{item.nome}}</span>
                            </md-autocomplete>
                            <md-chip-template>
                                <span><strong>{{$chip.nome}}</strong></span>
                            </md-chip-template>
                        </md-chips>
                    </div>

                </div>


                <div  class="search-boxes  mb-8" flex flex-gt-xs="100" layout="column" layout-gt-xs="row">
                    <div class="search md-whiteframe-3dp mr-8" flex flex-gt-xs="30" layout="row" layout-align="start center">
                        <input flex ng-model="vm.params.q"
                               type="text" placeholder="Procurar por histórico ou palavra chave">
                    </div>
                    <div class="search md-whiteframe-3dp date-filter-box" flex layout="row" layout-align="start center">
                        <md-select flex ng-model="vm.params.dt_column" class="mr-16" placeholder="Data">
                            <md-option ng-value="opt.param" ng-repeat="opt in vm.optionsDate|orderBy:'label'">{{opt.label}}</md-option>
                        </md-select>
                        <div layout="row" layout-align="center center" class="filter from mr-8">
                            <label>Início:</label>
                            <input type="date" ng-model="vm.params.dt_start" />
                        </div>
                        <div layout="row" layout-align="center center" class="filter to">
                            <label>Fim:</label>
                            <input type="date" ng-model="vm.params.dt_end" />
                        </div>
                    </div>
                    <md-button class="md-accent md-raised mr-0" aria-label="buscar" ng-click="vm.search()">Buscar</md-button>
                </div>

            </div>

            <md-button ng-show="vm.searchActive"
                       class="md-icon-button"
                       ng-click="vm.clearFilter()"
                       aria-label="Filter Date">
                <md-icon md-font-icon="icon-filter-remove"></md-icon>
            </md-button>

        </div>
    </div>


    <!-- SELECTED BAR -->
    <div ng-show="vm.selectedProgramar.length > 0" class="selected-bar header animate-slide-down h-100" ng-class="vm.config.bg_color_class"
         layout="row" layout-align="start center">

        <div class="close-button-wrapper" ng-click="vm.selectedProgramar = []">
            <md-button layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-arrow-left" class="mr-8"></md-icon>
                <span translate="PROGRAMAR.VOLTAR">Voltar</span>
            </md-button>
        </div>

        <div flex layout="row" layout-align="space-between center">

            <div>
                <span class="selected-programar-count">
                    <span>{{vm.selectedProgramar.length}}</span>
                    <span > itens</span>
                </span>

                <md-menu class="select-menu" ng-if="!vm.currentThread">
                    <md-button class="md-icon-button"
                               ng-click="$mdMenu.open()"
                               aria-label="multi select toggle"
                               translate translate-attr-aria-label="PROGRAMAR.MULTI_SELECT_TOGGLE">
                        <md-icon md-font-icon="icon-menu-down"></md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button ng-click="vm.selectAllProgramar()">
                                Selecionar todos
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.deselectProgramar()" >
                                Rejeitar todos
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>

            <span ng-show="vm.sidebar.totalSelected" class="md-headline b-display" style="color: #fff; font-weight: bold">{{vm.sidebar.totalSelected| currency:"R$"}}</span>

            <div class="multi-select-actions">
                <md-button class="md-icon-button" ng-click="vm.confirmMultipleDelete(vm.selectedProgramar, $event)"
                           aria-label="delete selected" translate translate-attr-label="PROGRAMAR.DELETE_SELECTED">
                    <md-icon md-font-icon="icon-delete"></md-icon>
                </md-button>
            </div>

        </div>

    </div>
    <!-- / SELECTED BAR -->

    <!-- CONTENT -->
    <div class="content  animate-slide-down" md-background-bg  layout-align="start start" ng-class="{'search-ajust':vm.searchActive}">

        <!-- MAIN -->
        <div class="main scrollable" ms-scroll infinite-scroll="vm.loadMore()" infinite-scroll-distance="3">

            <!-- CONTACT LIST -->
            <md-list class="programar-list md-whiteframe-3dp no-padding mb-24">

                <!-- CONTACT LIST HEADER -->
                <md-subheader class="md-no-sticky md-white-bg">
                    <div  ng-if="!vm.confQuey.on"  layout="row" layout-align="space-between center">
                        <div class="list-title" layout="row" layout-align="space-between center">
                            <div>
                                <b>{{vm.defaultContas}}</b>  <span ng-show="vm.params.dt_start"> | {{vm.params.dt_start|w3Date2Str}} - {{vm.params.dt_end|w3Date2Str}}</span>
                            </div>
                            <span ng-if="vm.filteredProgramar.length" class="text-boxed programar-count">
                                {{vm.limitTo}} de {{vm.filteredProgramar.length}} itens programados
                            </span>
                        </div>

                        <div>
                            <!--                            <md-button class="md-icon-button" aria-label="Imprimir"  ng-click="vm.print()">
                                                            <md-icon md-font-icon="icon-printer"></md-icon>
                                                        </md-button>-->
                            <md-menu>
                                <md-button class="md-icon-button" aria-label="Sort" translate
                                           translate-attr-aria-label="PROGRAMAR.SORT">
                                    <md-icon md-font-icon="icon-sort-alphabetical"
                                             ng-click="$mdMenu.open()"></md-icon>
                                </md-button>

                                <md-menu-content width="3">
                                    <md-menu-item>
                                        <md-button ng-click="vm.params.sort = 'dt_prevista'; vm.search()" ng-style="vm.params.sort === 'dt_prevista' && {'font-weight':'500'}">
                                            <span >Data prevista mais recente</span>

                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.params.sort = '-dt_prevista'; vm.search()" ng-style="vm.params.sort === '-dt_prevista' && {'font-weight':'500'}">
                                            <span >Data prevista mais distante</span>

                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.params.sort = 'dt_competencia'; vm.search()" ng-style="vm.params.sort === 'dt_competencia' && {'font-weight':'500'}">
                                            <span >Data competência mais antiga</span>

                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.params.sort = '-dt_competencia'; vm.search()" ng-style="vm.params.sort === '-dt_competencia' && {'font-weight':'500'}">
                                            <span >Data competência mais recente</span>

                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.params.sort = 'dt_compensado'; vm.search()" ng-style="vm.params.sort === 'dt_compensado' && {'font-weight':'500'}">
                                            <span >Data compensado mais antiga</span>

                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.params.sort = '-dt_compensado'; vm.search()" ng-style="vm.params.sort === '-dt_compensado' && {'font-weight':'500'}">
                                            <span >Data compensado mais recente</span>

                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                    <div  ng-if="vm.confQuey.on" layout="row" layout-align="space-between center" class=" animate-slide-down">
                        <div class="list-title"> {{vm.confQuey.title}}</div>
                        <md-button ng-click="vm.clearFilter()" aria-label="limpar filtro" class="md-icon-button">
                            <md-icon md-font-icon="icon-close s24"></md-icon>
                        </md-button>
                    </div>
                </md-subheader>

                <table class="simple simple-slim md-background-bg">
                    <thead>
                        <tr>
                            <th style="padding-left: 0">
                    <md-button ng-if="!vm.selectedAll" ng-click="vm.selectAllProgramar()" aria-label="limpar filtro" class="md-icon-button w-45 no-margin" style="padding-left: 0" >
                        <md-icon md-font-icon="icon-checkbox-blank-outline s24"></md-icon>
                    </md-button>
                    <md-button ng-if="vm.selectedAll" ng-click="vm.deselectProgramar()" aria-label="limpar filtro" class="md-icon-button w-45 no-margin" style="padding-left: 0">
                        <md-icon md-font-icon="icon-checkbox-marked-outline s24"></md-icon>
                    </md-button>
                    </th>
                    <th>Conta</th>
                    <th>Histórico</th>
                    <th>Parcelas</th>
                    <th>
                        <span class="w-120" ng-if="vm.config.operacao === 'D'">Pagar para</span>
                        <span class="w-120" ng-if="vm.config.operacao === 'R'">Receber de</span>
                    </th>
                    <th  hide-xs hide-sm  hide-md hide-lg>Plano de contas</th>
                    <th>Freq.</th>
                    <th>Vencimento</th>
                    <th>Valor</th>
                    <th>Encargos</th>
                    <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vm.filteredProgramar| limitTo:vm.limitTo track by item.id"
                            ng-class="{'selected': item.selected, 'disabled':item.infos.cancelado, 'atrasado':item.infos.atrasado, 'hoje':item.infos.hoje}">
                            <td>
                    <md-checkbox ng-checked="vm.exists(item, vm.selectedProgramar)" class=" w-30 no-margin"
                                 ng-click="vm.toggleSelectProgramar(item, $event)"
                                 aria-label="Select item">
                    </md-checkbox>
                    </td>
                    <td>
                        {{::item.conta.nome}}
                    </td>
                    <td ng-click="vm.openProgramarDialog($event, item)" class="rf-pointer">
                        <span ng-if="item.marcador">{{item.marcador}}-</span>
                        {{item.historico}}
                    </td>
                    <td>
                        <span ng-if="item.qt_parcela > 0" class="pointer" ng-click="vm.searchParcelas(item)">{{::item.n_parcela}}/{{::item.qt_parcela}}</span>
                    </td>
                    <td>
                        {{::item.entidade.nome}}
                    </td>
                    <td  hide-xs hide-sm  hide-md hide-lg>
                        {{::item.planoConta.nome}}
                    </td>
                    <td ng-click="vm.searchRepeats(item)">
                        {{::item.frequencia|rfFirstUpper}}
                    <md-tooltip>{{::item.frequencia}}</md-tooltip>
                    </td>
                    <td>
                        {{::item.dt_prevista|w3FromDatePt}}
                    <md-tooltip>{{::item.dt_prevista|w3Moments}}</md-tooltip>
                    </td>
                    <td>
                        <b>{{::item.vl_final|currency:"R$ "}}</b>
                    </td>
                    <td>
                        <b ng-if="item.vl_encargos" class="red-300-fg">{{::item.vl_encargos|currency:"R$ "}}</b>
                    </td>
                    <td>
                        <div  layout="row" layout-align="end end">
                            <md-icon ng-if="item.infos.compensado" md-font-icon="icon-check" class="green-500-fg">
                                <md-tooltip>Lançado</md-tooltip>
                            </md-icon>
                            <md-icon ng-if="item.infos.atrasado" md-font-icon="icon-alert" class="red-500-fg">
                                <md-tooltip>Atrasado</md-tooltip>
                            </md-icon>
                            <md-icon ng-if="item.infos.cancelado" md-font-icon="icon-block-helper" class="grey-600-fg">
                                <md-tooltip>Cancelado</md-tooltip>
                            </md-icon>
                            <md-icon ng-if="item.infos.hoje" md-font-icon="icon-calendar-today" class="light-blue-500-fg">
                                <md-tooltip>Hoje</md-tooltip>
                            </md-icon>

                            <md-menu>
                                <md-button class="md-icon-button no-margin" aria-label="More" translate
                                           translate-attr-aria-label="PROGRAMAR.MORE">
                                    <md-icon md-font-icon="icon-dots-vertical" ng-click="$mdMenu.open()"></md-icon>
                                </md-button>

                                <md-menu-content width="3">
                                    <md-menu-item>
                                        <md-button ng-click="vm.openBaixarProgDialog($event, item)" class="green-500-bg" aria-label="Marcar como pago">
                                            Marcar como pago
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.openProgramarDialog($event, item)" class=" md-accent" aria-label="Editar" translate translate-attr-aria-label="COMMON.EDITAR">
                                            <md-icon md-font-icon="icon-border-color" class="icon s28"></md-icon>
                                            {{'COMMON.EDITAR'|translate}}
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.confirmDelete(item, $index, ev)"
                                                   aria-label="deletar" class=" red-500-fg">
                                            <md-icon md-font-icon="icon-delete" class="icon s26 red-500-fg"></md-icon>
                                            {{'COMMON.EXCLUIR'|translate}}
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu> 
                        </div>
                    </td>
                    </tr>
                    <tr class="tr-notfound" ng-show="vm.loading === false && vm.filteredProgramar.length == 0">
                        <td colspan="10">
                            <span  translate="TRANSFERENCIA.SEM_RESULTADOS">Nenhum resultado encontrado</span>
                        </td>
                    </tr>
                    </tbody>
                </table>

                

            <div layout="row" layout-align="center center">
                <md-button ng-click="vm.loadMore()" class="md-primary md-raised" ng-if="vm.filteredProgramar.length > 0 && vm.filteredProgramar.length > vm.limitTo">
                    Carregar mais
                </md-button>
            </div>

        </div>
        </div>
        <!-- / MAIN -->
        <md-sidenav class="md-sidenav-right md-whiteframe-4dp"  md-component-id="right">

            <md-toolbar class="md-theme-light indigo-300-bg">
                <h1 class="md-toolbar-tools">Resumo</h1>
            </md-toolbar>
            <md-content  layout-padding>
                <blockquote><p class="mb-0">A receber hoje:</p>
                    <b  class="font-size-20 green-500-fg">{{vm.sidebar.balancete.receitas.hoje| currency:"R$"}}</b>
                </blockquote>

                <blockquote><p class="mb-0">A pagar hoje:</p>
                    <b class="font-size-20 red-500-fg">{{vm.sidebar.balancete.despesas.hoje| currency:"R$"}}</b>
                </blockquote>
                <div layout="column">
                    <span>Atrasados</span>
                    <div layout="row" layout-align="space-between center">
                        <small>Receitas</small><b class="green-500-fg">{{vm.sidebar.balancete.receitas.atrasados| currency:"R$"}}</b>
                    </div>
                    <div layout="row" layout-align="space-between center">
                        <small>Despesas</small><b class="red-500-fg">{{vm.sidebar.balancete.despesas.atrasados| currency:"R$"}}</b>
                    </div>
                </div>
                <md-divider></md-divider>
                <div layout="column">
                    <span>Recebimentos</span>
                    <div layout="row" layout-align="space-between center">
                        <small>previsto:</small><b>{{vm.sidebar.balancete.receitas.previsto| currency:"R$"}}</b>
                    </div>
                    <div layout="row" layout-align="space-between center">
                        <small>realizado:</small><b class="green-500-fg">{{vm.sidebar.balancete.receitas.realizado| currency:"R$"}}</b>
                    </div>
                    <md-progress-linear class="green-500-bg" md-mode="determinate" value="{{vm.sidebar.balancete.receitas.percent}}"></md-progress-linear>
                    <div layout="row" layout-align="end end">
                        <small class="secondary-text">Dif.: {{vm.sidebar.balancete.receitas.percent}}% {{vm.sidebar.balancete.receitas.diff| currency:"R$"}}</small>
                    </div>
                </div>

                <div layout="column">
                    <span>Despesas</span>
                    <div layout="row" layout-align="space-between center">
                        <small>previsto:</small><b>{{vm.sidebar.balancete.despesas.previsto| currency:"R$"}}</b>
                    </div>
                    <div layout="row" layout-align="space-between center">
                        <small>realizado:</small><b class="red-500-fg">{{vm.sidebar.balancete.despesas.realizado| currency:"R$"}}</b>
                    </div>
                    <md-progress-linear class="red-500-bg" md-mode="determinate" value="{{vm.sidebar.balancete.despesas.percent}}"></md-progress-linear>
                    <div layout="row" layout-align="end end">
                        <small class="secondary-text">Dif.: {{vm.sidebar.balancete.despesas.percent}}% {{vm.sidebar.balancete.despesas.diff| currency:"R$"}}</small>
                    </div>
                </div>





                <div layout="row" flex>
                    <md-button ng-click="vm.toggleSidenav('right')" aria-label="fechar" class="md-primary md-block">
                        Fechar resumo
                    </md-button>
                </div>
            </md-content>

        </md-sidenav>
    </div>

</div>
