<md-dialog class="single-dialog dialog-600" aria-label="Dialog" translate-attr-aria-label="DIALOG.MANUTENCAO_DIALOG">

    <form name="dialogForm" class="md-inline-form" novalidate>

        <md-toolbar class="md-accent" layout="column">

            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                <span ng-if="vm.isNew" class="title" translate="PLANO_CONTA.DIALOG.TITLE_NEW">Adicionar novo</span>
                <span ng-if="!vm.isNew" class="title" translate="PLANO_CONTA.DIALOG.TITLE_EDIT">Editar</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Fechar" translate translate-attr-aria-label="COMMON.FECHAR_DIALOG">
                    <md-icon md-font-icon="icon-close s24"></md-icon>
                </md-button>
            </div><!-- / TOOLBAR TOP -->
        </md-toolbar>

        <md-dialog-content>
            <div ng-show="vm.pai" layout="row" layout-align="space-between center">
                <div>
                    <h2> {{vm.pai.tipo ==='ENTRADA' ? 'Receita' : 'Despesa' }}</h2>
                    {{vm.pai.codigo}} {{vm.pai.nome}}    <a ng-click="vm.pai = null">Alterar</a>    
                </div>
                <md-switch ng-model="vm.row.status" aria-label="status" required>
                    <span ng-if="vm.row.status">Status: Ativo</span>
                    <span ng-if="!vm.row.status" >Status: Inativo</span>
                </md-switch>
            </div>

            <md-input-container ng-hide="vm.pai" class="md-icon-float md-block">
                <label >Tipo</label>
                <md-select ng-model="vm.nv2"> 
                    <md-option value="NOVO" >Novo</md-option>           
                    <md-option ng-value="item" ng-repeat="item in vm.nv1" >{{item.nome}}</md-option>                        
                </md-select>
            </md-input-container>
            <md-input-container ng-hide="vm.pai || vm.nv2 === 'NOVO'" class="md-icon-float md-block">
                <label >Sub-Categoria </label>
                <md-select ng-model="vm.nv3">
                    <md-option ng-click="vm.setPai(vm.nv2); vm.nivel = 2; ">Não usar sub-categoria</md-option>                        
                    <md-option ng-click="vm.setPai(nv3); vm.nivel =null;" ng-value="nv3" ng-repeat="nv3 in vm.nv2.filhos.data">{{nv3.codigo}} - {{nv3.nome}}</md-option>                        
                </md-select>
            </md-input-container>
            <div layout="row"  layout-align="start center">
                <h3 flex="30">Sequência:</h3>
                <span >
                    <b ng-if="vm.pai" style="font-size: 16px; position: relative;top: -8px;">{{vm.pai.codigo}}.</b>
                    <span ng-if="vm.nv2.cod "><b>{{planos2.planoconta}}.</b></span>
                </span>
                <md-input-container class="mb-0 mt-8">
                    <label>Complete a sequência</label>
                    <input  required name="seq" ng-model="vm.cod">
                    <div ng-messages="planoDeContaForm.seq.$error">
                        <div ng-message="required">Você precisa preencher o restante da sequência.</div>
                    </div>
                </md-input-container>
            </div>

            <md-input-container class="md-icon-float md-block">
                <label translate="PLANO_CONTA.FORM.NOME">Nome (obrigatório)</label>
                <input ng-model="vm.row.nome" type="text" ng-required="true" md-autofocus>
            </md-input-container>

            
            <md-input-container ng-if="vm.row.nivel == 2 || vm.nivel == 2" class="md-icon-float md-block">
                <label >Meta mensal (R$)</label>
                <input ng-model="vm.row.meta" type="text" ng-required="false" w3-money>
            </md-input-container>


            <md-input-container class="md-icon-float md-block">
                <label translate="PLANO_CONTA.FORM.DESCRICAO">Descricao (obrigatório)</label>
                <input ng-model="vm.row.descricao" type="text" >
            </md-input-container>

        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <md-button ng-if="!vm.isNew" class="md-icon-button no-margin md-warn" ng-click="vm.confirmDelete(vm.row.id, $event)" aria-label="Fechar" translate translate-attr-aria-label="COMMON.FECHAR_DIALOG">
                <md-icon md-font-icon="icon-delete s24"></md-icon>
            </md-button>
            <md-checkbox ng-model="vm.continue">
                Continuar cadastrando
            </md-checkbox>
            <div layout="row" layout-align="end center">

                <md-button type="button" ng-click="vm.closeDialog()"
                           class="md-warn"
                           aria-label="Cancelar">
                    <span translate="COMMON.CANCELAR"> Cancelar </span>
                </md-button>

                <md-button type="submit" ng-if="!vm.isNew" ng-click="vm.update()"
                           class="send-button md-accent md-raised"
                           ng-disabled="dialogForm.$invalid"
                           aria-label="Salvar">
                    <span translate="COMMON.SALVAR"> Salvar </span>
                </md-button>

                <md-button type="submit" ng-if="vm.isNew" ng-click="vm.save()"
                           class="send-button md-accent md-raised"
                           ng-disabled="dialogForm.$invalid || dialogForm.$pristine"
                           aria-label="Adicionar">
                    <span translate="COMMON.ADICIONAR"> Adicionar </span>
                </md-button>

            </div>
        </md-dialog-actions>
        <!-- / DIALOG ACTIONS -->

    </form>

</md-dialog>
