<md-dialog class="single-dialog dialog-600" aria-label="Dialog" translate-attr-aria-label="DIALOG.MANUTENCAO_DIALOG">

    <form name="dialogForm" class="md-inline-form" novalidate>

        <md-toolbar class="md-accent" layout="column">

            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                <span ng-if="vm.isNew" class="title" translate="CONTA.DIALOG.TITLE_NEW">Adicionar novo</span>
                <span ng-if="!vm.isNew" class="title" translate-values="{'name':vm.row.nome}" translate="CONTA.DIALOG.TITLE_EDIT">Editar</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Fechar" translate translate-attr-aria-label="COMMON.FECHAR_DIALOG">
                    <md-icon md-font-icon="icon-close s24"></md-icon>
                </md-button>
            </div><!-- / TOOLBAR TOP -->
        </md-toolbar>

        <md-dialog-content >

            <md-input-container class="md-icon-float md-block">
                <label translate="CONTA.FORM.NOME">Nome (obrigatório)</label>
                <input ng-model="vm.row.nome" type="text" ng-required="true" md-autofocus>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label translate="CONTA.TABLE.SALDO_INICIAL">Saldo inicial</label>
                <input ng-model="vm.row.saldo_inicial" type="text" w3-money>
            </md-input-container>

            <div layout="row">
                <md-switch flex ng-model="vm.row.ocultar" aria-label="ocultar">
                    Ocultar: {{ vm.row.ocultar? 'Ativo': ''}}
                </md-switch>
                <p flex class="secondary-text">
                    Ao ativar esta opção esta conta não aparecerá no dashboard
                </p>
            </div>

            <md-input-container class="md-icon-float md-block">
                <label translate="CONTA.FORM.DESCRICAO">Descricao</label>
                <input ng-model="vm.row.descricao" type="text" ng-required="true">
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label translate="CONTA.FORM.TIPO_CONTA">Tipo_conta (obrigatório)</label>
                <md-select ng-model="vm.row.tipo_conta_id" ng-required="true" >
                    <md-option ng-repeat="row in vm.tipos" ng-value="row.id">{{row.nome}}</md-option>
                </md-select>
            </md-input-container>

        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="end center">
            <div layout="row" layout-align="end center">

                <md-button type="button" ng-click="vm.closeDialog()"
                           class="md-warn"
                           aria-label="Cancelar">
                    <span translate="COMMON.CANCELAR"> Cancelar </span>
                </md-button>

                <md-button type="submit" ng-if="!vm.isNew" ng-click="vm.update()"
                           class="send-button md-accent md-raised"
                           ng-disabled="dialogForm.$invalid"
                           aria-label="Salvar">
                    <span translate="COMMON.SALVAR"> Salvar </span>
                </md-button>

                <md-button type="submit" ng-if="vm.isNew" ng-click="vm.save()"
                           class="send-button md-accent md-raised"
                           ng-disabled="dialogForm.$invalid || dialogForm.$pristine"
                           aria-label="Adicionar">
                    <span translate="COMMON.ADICIONAR"> Adicionar </span>
                </md-button>

            </div>
        </md-dialog-actions>
        <!-- / DIALOG ACTIONS -->

    </form>

</md-dialog>
