
<div class="header md-padding h-140" layout="column" >
    <md-input-container flex>
        <label>Conta:</label>
        <md-select md-on-open="vm.loadContas()" ng-change="vm.setConta(vm.sidebar.conta)" ng-model="vm.sidebar.conta" class="mov-conta">
            <md-option ng-repeat="conta in vm.contas" ng-value="conta">
                {{conta.nome}}
            </md-option>
            <md-option ng-value="null">
                Todas as contas
            </md-option>
        </md-select>
    </md-input-container>

    <div style="margin-top: 10px" ng-show="vm.sidebar.conta" layout="column">
        <small class="secondary-text mt-8">Tipo: {{vm.sidebar.conta.tipo.nome}}</small>
        <small class="secondary-text mt-8">Saldo:</small> 
        <span class="md-headline b-display saldo-destaque" ng-class="vm.sidebar.saldo.saldo >= 0 ? 'green-500-fg' : 'red-500-fg'">{{vm.sidebar.saldo.saldo| currency:"R$"}}</span>
    </div>

</div>
<!-- / SIDENAV HEADER -->


<!-- SIDENAV CONTENT -->
<div ms-scroll class="content scrollable" ng-show="vm.sidebar.showSaldoConta">

    <div class="pv-16 ph-10" layout="column">
        <div layout="row" layout-align="space-between center">
            <small>Receita</small><b class="green-500-fg">{{vm.sidebar.saldo.receita| currency:"R$"}}</b>
        </div>
        <div layout="row" layout-align="space-between center">
            <small>Despesa</small><b class="red-500-fg">{{vm.sidebar.saldo.despesa| currency:"R$"}}</b>
        </div>       
    </div>

    <md-divider></md-divider>

    <blockquote><p>Você fechou o mês passado com saldo de:</p>
        <b style="text-align: right">{{vm.sidebar.saldoMesPassado.saldo| currency:"R$"}}</b>
    </blockquote>

    <div class="p-16" layout="column">
        <div layout="row" layout-align="space-between center">
            <small>Receita</small><b>{{vm.sidebar.saldoMesPassado.receita| currency:"R$"}}</b>
        </div>
        <div layout="row" layout-align="space-between center">
            <small>Despesa</small><b>{{vm.sidebar.saldoMesPassado.despesa| currency:"R$"}}</b>
        </div>       
    </div>

</div>
<!-- / SIDENAV CONTENT -->