<md-dialog class="single-dialog dialog-600 dialog-programar" aria-label="Dialog" translate-attr-aria-label="DIALOG.MANUTENCAO_DIALOG">

    <form name="dialogForm" class="md-inline-form  form-small" novalidate ng-submit="vm.cancelarLancamento()">

        <md-toolbar class="amber-300-bg" layout="column" >
            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                <span class="title">Cancelar lançamento</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog(false)" aria-label="Fechar" translate translate-attr-aria-label="COMMON.FECHAR_DIALOG">
                    <md-icon md-font-icon="icon-close" class="s24"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="no-padding" >
            <div class="md-padding" style="overflow: visible;">
                <div layout="row">
                    <span flex>Favorecido: <b>{{vm.row.entidade.nome}}</b></span>
                    <span class="w-220">Tipo: <b>{{vm.row.operacao === 'R'?'Receita':'Despesa'}}</b></span>
                </div>
                <span flex>Histórico: <b>{{vm.row.historico}}</b></span>
                <div layout="row">
                    <span flex>Competência: <b>{{vm.row.dt_competencia|w3FromDatePt}}</b></span>
                    <span class="w-220">Número: <b>{{vm.row.referencia}}</b></span>
                </div>
                <div layout="row">
                    <span flex>Forma de pgto: <b>{{vm.row.entidade.nome}}</b></span>
                    <span class="w-220">Data de pgto: <b>{{dt_compensado|w3FromDatePt}}</b></span>
                </div>   
                <span flex>Conta: <b>{{vm.row.historico}}</b></span><br/>
                <span flex>Plano de conta: <b>{{vm.row.historico}}</b></span><br/>
                <span flex>Centro de custo: <b>{{vm.row.centroCusto.nome}}</b></span><br/>
                <div layout="row">
                    <span flex>Juros: {{vm.row.vl_juros|currency:'R$ '}}</span>
                    <span flex>Multa: {{vm.row.vl_multa|currency:'R$ '}}</span>
                    <span flex>Desconto:{{vm.row.vl_desconto|currency:'R$ '}}</span>
                    <span flex>Total: 
                        <b ng-if="vm.row.operacao === 'R'">{{vm.row.vl_receita|currency:'R$ '}}</b>
                        <b ng-if="vm.row.operacao === 'D'">{{vm.row.vl_despesa|currency:'R$ '}}</b>
                    </span>
                </div>
                <span ng-if="vm.row.detalhes" flex>Detalhes: {{vm.row.detalhes}} </span>
               
                <md-divider class="mt-16 mb-16"></md-divider>
                 <b class="mb-16">Cancelamento</b>
                <md-input-container class="md-block mt-24">
                    <label>Motivo do cancelamento</label>
                    <textarea ng-model="vm.row.motivo_cancelamento"  rows="2" md-select-on-focus></textarea>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div flex></div>
            <div layout="row" layout-align="end center">

                <md-button type="button" ng-click="vm.closeDialog(false)"
                           class="md-warn"
                           aria-label="Cancelar">
                    <span> Voltar </span>
                </md-button>

                <md-button type="submit" 
                           class="send-button md-accent md-raised"
                           ng-disabled="dialogForm.$invalid"
                           aria-label="Reconciliar">
                    <span>Cancelar lançamento</span>
                </md-button>

            </div>
        </md-dialog-actions>

    </form>
</md-dialog>
