<div id="lancamento" class="page-layout simple left-sidenav inner-sidenav">
    <div class="header ph-24 pb-0 pt-0  animate-slide-down amber-500-bg" ng-class="{'h-296': vm.searchActive}">

        <div layout="row">
            <div layout="row" layout-align="start center" flex >
                <md-button class="md-icon-button sidenav-toggle" hide-gt-md ng-click="vm.toggleSidenav('sidenav')"
                           aria-label="Toggle sidenav" translate translate-attr-aria-label="LANCAMENTO.TOGGLE_SIDENAV">
                    <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
                </md-button>
                <span  class="h1 white-text">  Lançamentos</span>
            </div>

            <div  layout="row" layout-align="end center">
                <md-button  ng-click="vm.searchActive = !vm.searchActive"  class="md-icon-button" aria-label="Search" translate
                            translate-attr-aria-label="CALENDAR.SEARCH">
                    <md-icon md-font-icon="icon-magnify"></md-icon>
                    <md-tooltip><span>Buscar</span></md-tooltip>
                </md-button>
                <md-button ng-click="vm.openLancamentoDialog($event, '')" class="md-fab md-primary grey-50-bg" aria-label="adicionar novo" >
                    <md-icon md-font-icon="icon-plus" class="amber-500-fg"></md-icon>
                </md-button>
            </div>
        </div>

        <!-- / SEARCH -->
        <div ng-if="vm.searchActive" class="bottom  animate-slide-down" layout="column" layout-gt-sm="row" layout-align-gt-sm="end center">
            <div class="search-boxes" flex flex-gt-xs="75" layout="column">

                <div class="search-boxes  mb-8" flex flex-gt-xs="100" layout="column" layout-gt-xs="row">
                    <div class="search md-whiteframe-3dp mr-8" flex layout="row" layout-align="start center">
                        <md-chips flex
                                  ng-model="vm.selectedContas"
                                  md-autocomplete-snap=""
                                  md-transform-chip="vm.transformChip($chip)"
                                  md-require-match="true">
                            <md-autocomplete
                                md-selected-item="vm.selectedItem"
                                md-search-text="vm.searchContas"
                                md-items="item in vm.querySearchConta(vm.searchContas)"
                                md-item-text="item.nome"
                                placeholder="Contas">
                                <span md-highlight-text="vm.searchText">{{item.nome}}
                                </span>
                            </md-autocomplete>
                            <md-chip-template>
                                <span>
                                    <strong>{{$chip.nome}}</strong>
                                </span>
                            </md-chip-template>
                        </md-chips>
                    </div>

                    <div class="search md-whiteframe-3dp " flex layout="row" layout-align="start center">
                        <md-select flex ng-model="vm.params.forma_pagamento_id"  md-on-open="vm.loadFormasPagamento()" placeholder="Forma de pagamento">
                            <md-option ng-value="item.id"
                                       ng-repeat="item in vm.formas_pagamento">
                                {{item.nome}}
                            </md-option>
                        </md-select>
                    </div>

                </div>
                <div class="search-boxes  mb-8" flex flex-gt-xs="100" layout="column" layout-gt-xs="row">

                    <div class="search md-whiteframe-3dp " flex layout="row" layout-align="start center">
                        <md-chips flex
                                  ng-model="vm.selectedEntidades"
                                  md-autocomplete-snap=""
                                  md-transform-chip="vm.transformChip($chip)"
                                  md-require-match="true">
                            <md-autocomplete
                                md-selected-item="vm.selectedFavorecido"
                                md-search-text="vm.searchFavorecidos"
                                md-items="item in vm.querySearchEntidade(vm.searchFavorecidos)"
                                md-item-text="item.nome"
                                placeholder="Favorecidos">
                                <span md-highlight-text="vm.searchText">{{item.nome}}
                                </span>
                            </md-autocomplete>
                            <md-chip-template>
                                <span>
                                    <strong>{{$chip.nome}}</strong>
                                </span>
                            </md-chip-template>
                        </md-chips>
                    </div>
                </div>

                <div class="search-boxes mb-8" flex flex-gt-xs="100" layout="column" layout-gt-xs="row">
                    <div class="search md-whiteframe-3dp mr-8" flex layout="row" layout-align="start center">
                        <md-chips flex
                                  ng-model="vm.selectedPlanos"
                                  md-transform-chip="vm.transformChip($chip)"
                                  md-require-match="true">
                            <md-autocomplete
                                md-selected-item="vm.selectedPlano"
                                md-search-text="vm.searchPlano"
                                md-items="item in vm.querySearchPlanos(vm.searchPlano)"
                                md-item-text="item.nome_codigo"
                                placeholder="Plano de conta">
                                <span md-highlight-text="vm.searchPlano">{{item.nome_codigo}}</span>
                            </md-autocomplete>
                            <md-chip-template>
                                <span><strong>{{$chip.nome_codigo}}</strong></span>
                            </md-chip-template>
                        </md-chips>
                    </div>
                    <div class="search md-whiteframe-3dp" flex layout="row" layout-align="start center">
                        <md-chips flex
                                  ng-model="vm.selectedCentrosCusto"
                                  md-transform-chip="vm.transformChip($chip)"
                                  md-require-match="true">
                            <md-autocomplete
                                md-selected-item="vm.selectedCentroCusto"
                                md-search-text="vm.searchCentroCusto"
                                md-items="item in vm.querySearchCentroCusto(vm.searchCentroCusto)"
                                md-item-text="item.nome"
                                placeholder="Centro de custo">
                                <span md-highlight-text="vm.searchCentroCusto">{{item.nome}}
                                </span>
                            </md-autocomplete>
                            <md-chip-template>
                                <span>
                                    <strong>{{$chip.nome}}</strong>
                                </span>
                            </md-chip-template>
                        </md-chips>
                    </div>
                </div>


                <div  class="search-boxes  mb-8" flex flex-gt-xs="100" layout="column" layout-gt-xs="row">
                    <div class="search md-whiteframe-3dp mr-8" flex flex-gt-xs="30" layout="row" layout-align="start center">
                        <input flex ng-model="vm.params.q"
                               type="text" placeholder="Procurar por histórico ou palavra chave">
                    </div>
                    <div class="search md-whiteframe-3dp date-filter-box" flex layout="row" layout-align="start center">
                        <md-select flex ng-model="vm.params.dt_column" class="mr-16" placeholder="Data">
                            <md-option ng-value="opt.param" ng-repeat="opt in vm.optionsDate|orderBy:'label'">{{opt.label}}</md-option>
                        </md-select>
                        <div layout="row" layout-align="center center" class="filter from mr-8">
                            <label>Início:</label>
                            <input type="date" ng-model="vm.params.dt_start" />
                        </div>
                        <div layout="row" layout-align="center center" class="filter to">
                            <label>Fim:</label>
                            <input type="date" ng-model="vm.params.dt_end" />
                        </div>
                    </div>
                    <md-button class="md-accent md-raised mr-0" aria-label="buscar" ng-click="vm.search()">Buscar</md-button>
                </div>
            </div>

            <md-button ng-show="vm.searchActive"
                       class="md-icon-button"
                       ng-click="vm.clearFilter()"
                       aria-label="Filter Date">
                <md-icon md-font-icon="icon-filter-remove"></md-icon>
            </md-button>

        </div>
    </div>


    <!-- SELECTED BAR -->
    <div ng-show="vm.selectedLancamento.length > 0" class="selected-bar header h-100 animate-slide-down amber-500-bg"
         layout="row" layout-align="start center">

        <div class="close-button-wrapper" ng-click="vm.selectedLancamento = []">
            <md-button layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-arrow-left" class="mr-8"></md-icon>
                <span>Voltar</span>
            </md-button>
        </div>

        <div flex layout="row" layout-align="space-between center">

            <div>
                <span class="selected-lancamento-count">
                    <span>{{vm.selectedLancamento.length}}</span>
                    <span > lançamentos</span>
                </span>

                <md-menu class="select-menu" ng-if="!vm.currentThread">
                    <md-button class="md-icon-button"
                               ng-click="$mdMenu.open($event)"
                               aria-label="multi select toggle"
                               translate translate-attr-aria-label="LANCAMENTOS.MULTI_SELECT_TOGGLE">
                        <md-icon md-font-icon="icon-menu-down"></md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button ng-click="vm.selectAllMovimentacoes()" translate="LANCAMENTOS.SELECT_ALL">
                                Select all
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.deselectMovimentacoes()" translate="LANCAMENTOS.SELECT_NONE">
                                Select none
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>

            <span ng-show="vm.sidebar.totalSelected" class="md-headline b-display" style="color: #fff; font-weight: bold">{{vm.sidebar.totalSelected| currency:"R$"}}</span>

            <div class="multi-select-actions">
                <md-button class="md-icon-button" ng-click="vm.confirmMultipleDelete(vm.selectedLancamento, $event)"
                           aria-label="delete selected" translate translate-attr-label="LANCAMENTOS.DELETE_SELECTED">
                    <md-icon md-font-icon="icon-delete"></md-icon>
                </md-button>
            </div>

        </div>

    </div>
    <!-- / SELECTED BAR -->

    <!-- CONTENT -->
    <div class="content  animate-slide-up" md-background-bg layout="row" layout-align="start start" ng-class="{ 'search-ajust':vm.searchActive}" >

        <!-- SIDENAV -->
        <md-sidenav class="sidenav saldo-sidenav md-white-bg " ms-scroll md-is-locked-open="$mdMedia('gt-md')"
                    layout="column" flex="100" md-component-id="sidenav" style="margin-right: 8px;"
                    ms-sidenav-helper ng-include="vm.path_pack + 'lancamento/sidenavs/saldo-sidenav.html'">
        </md-sidenav>
        <!-- / SIDENAV -->

        <!-- MAIN -->
        <div class="main scrollable" ms-scroll>


            <!-- CONTACT LIST -->
            <!--<md-list class="programar-list md-whiteframe-3dp no-padding mb-24">-->

            <!-- CONTACT LIST HEADER -->
            <md-subheader class="md-no-sticky md-white-bg">
                <div layout="row" layout-align="space-between center">

                    <div class="list-title" layout="row" layout-align="space-between center">
                        <div>
                            <b>{{vm.defaultContas}}</b> | <span>{{vm.params.dt_start|w3Date2Str}} - {{vm.params.dt_end|w3Date2Str}}</span>
                        </div>
                        <span ng-if="vm.lancamentos.length" class="text-boxed programar-count">
                            {{vm.limitTo}} de {{vm.lancamentos.length}} lançamentos
                        </span>
                    </div>
                    <div layout="row">

                        <md-button class="md-icon-button" aria-label="Sort" translate
                                   translate-attr-aria-label="LANCAMENTOS.SORT">
                            <md-icon md-font-icon="icon-check-circle" ng-click="vm.openReconciliarDialog($event)"></md-icon>
                            <md-tooltip>Conciliar</md-tooltip>
                        </md-button>
                        <!--                            <md-button class="md-icon-button" aria-label="Imprimir"  ng-click="vm.print()">
                                                        <md-icon md-font-icon="icon-printer"></md-icon>
                                                    </md-button>-->
                        <md-menu>
                            <md-button class="md-icon-button" aria-label="Sort" translate
                                       translate-attr-aria-label="LANCAMENTOS.SORT">
                                <md-icon md-font-icon="icon-sort-alphabetical"
                                         ng-click="$mdMenu.open($event)"></md-icon>
                            </md-button>
                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button ng-click="vm.params.sort = 'dt_compensado'; vm.search()"
                                               ng-style="vm.params.sort === 'dt_compensado' && {'font-weight': '500'}">
                                        <span >Lançamento mais antigo</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="vm.params.sort = '-dt_compensado'; vm.search()"
                                               ng-style="vm.params.sort === '-dt_compensado' && {'font-weight': '500'}">
                                        <span >Lançamento mais recente</span>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-menu>
                            <md-button aria-label="more" class="md-icon-button md-primary" ng-click="$mdMenu.open($event)">
                                <i class="icon icon-chevron-double-down s32"></i>
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item>
                                    <md-button ng-click="vm.getAllItens()" aria-label="Todos">
                                        <span >Todos</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="vm.getTrasehdItens()" aria-label="Apenas os inativos">
                                        <span >Apenas os cancelados</span>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="vm.getOnlyActiveItens()" aria-label="Apenas os ativos (padrão)">
                                        <span>Apenas os não cancelados (padrão)</span>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>
            </md-subheader>

            <!-- CONTACT LIST HEADER -->
            <table class="simple simple-slim md-background-bg">
                <thead>
                    <tr>
                        <th></th>
                        <th>Conta</th>
                        <th>Histórico</th>
                        <th>Favorecido</th>
                        <th  hide-xs hide-sm  hide-md hide-lg>Plano de contas</th>
                        <th>Data</th>
                        <th>Valor</th>
                        <th>Saldo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.lancamentos| limitTo:vm.limitTo track by item.id"
                        ng-class="{'selected' : vm.isSelected(item), 'disabled':item.infos.cancelado || item.infos.reconciliado || item.operacao === 'T'}">
                        <td>
                             <md-checkbox  ng-checked="vm.exists(item, vm.selectedLancamento)" class="no-margin w-40"
                              ng-click="vm.toggleSelectLancamento(item, $event)"
                              aria-label="'Select lançamento'">
                            </md-checkbox>
                        </td>
                        <td>
                             {{::item.conta.nome}}
                        </td>
                        <td ng-click="item.operacao !== 'T' ? vm.openLancamentoDialog($event, item) : ''" ng-class="{'rf-pointer': item.operacao !== 'T'}">
                            <span ng-if="::item.n_parcela">[{{::item.n_parcela}}/{{::item.qt_parcela}}] </span>
                            {{::item.historico}}
                        </td>
                        <td>
                            {{::item.entidade.nome}}
                        </td>
                        <td hide-xs hide-sm  hide-md hide-lg>
                            {{::item.planoConta.nome}}
                        </td>
                        <td>
                            {{::item.dt_compensado|w3FromDatePt}}
                            <md-tooltip>{{::item.dt_compensado|w3Moments}}</md-tooltip>
                        </td>
                        <td>
                             <b class="green-500-fg" ng-show="item.vl_receita">{{::item.vl_receita|currency:"R$"}}</b>
                             <b class="red-500-fg" ng-show="item.vl_despesa">{{::item.vl_despesa|currency:"R$"}}</b>
                        </td>
                        <td>
                            {{::item.vl_saldo|currency:"R$ "}}
                        </td>
                        <td>
                             <div  class="actions" layout="row" layout-align="end end">

                                <md-icon ng-if="item.infos.cancelado" md-font-icon="icon-block-helper" class="grey-600-fg">
                                    <md-tooltip>Cancelado</md-tooltip>
                                </md-icon>
                                <md-icon ng-if="item.infos.reconciliado" md-font-icon="icon-check-circle" class="grey-600-fg s26">
                                    <md-tooltip>Reconciliado</md-tooltip>
                                </md-icon>

                                <md-menu ng-if="item.operacao !== 'T'">
                                    <md-button class="md-icon-button" aria-label="More" translate
                                               translate-attr-aria-label="LANCAMENTOS.MORE">
                                        <md-icon md-font-icon="icon-dots-vertical" ng-click="$mdMenu.open($event)"></md-icon>
                                    </md-button>

                                    <md-menu-content width="3">

                                        <md-menu-item ng-if="item.operacao !== 'T'">
                                            <md-button ng-click="vm.openLancamentoDialog($event, item)" class=" md-accent" aria-label="Editar" translate translate-attr-aria-label="COMMON.EDITAR">
                                                <md-icon md-font-icon="icon-border-color" class="icon s28"></md-icon>
                                                {{'COMMON.EDITAR'|translate}}
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item ng-if="!item.infos.reconciliado">
                                            <md-button ng-click="vm.openReconciliarDialog($event, item)" class=" md-accent" aria-label="Editar" translate translate-attr-aria-label="COMMON.EDITAR">
                                                <md-icon md-font-icon="icon-check-circle" class="icon s28"></md-icon>
                                                Reconciliar até esta data
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item ng-if="item.infos.cancelado">
                                            <md-button ng-click="vm.restoreConfirm($event, item)"
                                                       aria-label="restaurar" class="green-500-fg">
                                                <md-icon md-font-icon="icon-replay" class="icon s28 green-500-fg"></md-icon>
                                                Restaurar
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item ng-if="!item.infos.cancelado">
                                            <md-button ng-click="vm.cancelConfirmDialog(item, $event)"
                                                       aria-label="cancelar" class="amber-500-fg">
                                                <md-icon md-font-icon="icon-power" class="icon s30 amber-500-fg"></md-icon>
                                                Cancelar
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button ng-click="vm.confirmDelete(item, $index, ev)"
                                                       aria-label="deletar" class=" red-500-fg">
                                                <md-icon md-font-icon="icon-delete" class="icon s28 red-500-fg"></md-icon>
                                                {{'COMMON.EXCLUIR'|translate}}
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- CONTACT ITEM -->
            <!-- NO RESULTS -->
            <!--                <md-list-item class="no-results md-white-bg" ng-show="vm.lancamentos.length === 0">
                                <p translate="LANCAMENTOS.NO_RESULTS">Nenhuma movimentação encontrada...</p>
                            </md-list-item>-->
            <!-- / NO RESULTS -->
            <!--                <md-list-item class="no-results md-white-bg" >
                                <div layout="row" flex layout-align="space-between center">
                                    <div layout="row" layout-align="start center">
                                        <span  translate="COMMON.EXIBINDO">Exibindo</span>
                                        <md-input-container class="m-0" style="top: -2px;    padding: 0 8px;">
                                            <md-select aria-label="Itens por página"  translate translate-attr-aria-label="COMMON.ITENS_POR_PAGINA" ng-change="vm.search()" ng-model="vm.params.paginate">
                                                <md-option ng-repeat="pag in [10, 15, 20, 25, 30, 50, 100]" value="{{pag}}">
                                                    {{pag}} <span  translate="COMMON.ITENS">itens</span>
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                        <span  translate="COMMON.POR_PAGINA">por página</span>
                                    </div>

                                    <div layout="row" layout-align="end center">
                                        <w3-page-table w3-pagination="vm.pagination" w3-set-page="vm.setPage($page)"></w3-page-table>
                                    </div>

                                </div>
                            </md-list-item>-->
            <!--</md-list>-->
            <!-- / CONTACT LIST -->

            <div layout="row" layout-align="center center">
                <md-button ng-click="vm.loadMore()" class="md-primary md-raised" ng-if="vm.lancamentos.length > 0 && vm.lancamentos.length > vm.limitTo">
                    Carregar mais
                </md-button>
            </div>



        </div>
        <!-- / MAIN -->

    </div>

</div>
