<form ng-submit="vm.update()"  novalidate>
    <div id="gen-merchant" class="page-layout simple tabbed  model-page" layout="column">

        <div class="header md-accent-bg" layout="row" layout-align="start center"layout-xs="column"  layout-align-xs="space-between start">
            <div class="white-fg flex-mobile-xs" layout="row" layout-align="start center" flex >
                <md-button ui-sref="app.livro" class="goto-products-button md-icon-button" aria-label="voltar"  translate translate-attr-aria-label="MERCHANT.VOLTAR_ARCHIVE">
                    <md-icon md-font-icon="icon-arrow-left"></md-icon>
                </md-button>

                <div layout="row" layout-align="start center">

                    <div layout="column" layout-align="start start">
                        <div layout="row" layout-align="start center">
                            <div class="md-display-1 white-fg">
                                {{vm.row.nome}}
                            </div>

                        </div>

                        <div class="subtitle secondary-text">
                            <span class="h2" >Editar livro</span>
                        </div>
                    </div>

                </div>
            </div>

            <div  class="flex-mobile-xs" layout="row" layout-align-xs="end end">


                <md-button type="button"  ng-click="vm.confirmDelete($event)" ng-disabled="!vm.isNew && vm.row.deleted_at" class="md-fab md-raised md-green-600-fg" aria-label="Excluir">
                    <md-icon md-font-icon="icon-trash" class="red-500-fg"></md-icon>
                    <md-tooltip><span translate="COMMON.EXCLUIR">Excluir</span></md-tooltip>
                </md-button>

                <md-button type="submit" class="md-fab  md-raised md-green-600-fg" ng-disabled="!vm.isNew && vm.row.deleted_at" aria-label="Salvar">
                    <md-icon md-font-icon="icon-content-save" class="green-600-fg"></md-icon>
                    <md-tooltip><span translate="COMMON.SALVAR">Salvar</span></md-tooltip>
                </md-button>
            </div>
        </div>

        <div class="content">

            <md-tabs md-dynamic-height>

                <md-tab>
                    <md-tab-label>
                        <span >Informações cadastrais</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="product-detail-form-container md-background-bg md-whiteframe-1dp p-16">

                            <md-input-container class="md-icon-float md-block">
                                <label translate="LIVRO.FORM.NOME">Nome (obrigatório)</label>
                                <input ng-model="vm.row.nome" type="text" ng-required="true" md-autofocus>
                            </md-input-container>

                            <md-input-container class="md-icon-float md-block">
                                <label>Código (obrigatório)</label>
                                <input ng-model="vm.row.codigo" type="text" ng-required="true">
                            </md-input-container>

                            <md-input-container class="md-icon-float md-block">
                                <label translate="LIVRO.FORM.DESCRICAO">Descricao</label>
                                <textarea ng-model="vm.row.descricao"  rows="5" ng-required="true" ></textarea>
                            </md-input-container>

                            <div class="md-actions" layout="row" layout-align="end end">
                                <md-button type="submit" class="md-fab grey-50-fg md-green-600-bg" aria-label="Salvar">
                                    <md-icon md-font-icon="icon-content-save" class="md-fab grey-50-fg "></md-icon>
                                    <md-tooltip><span translate="COMMON.SALVAR">Salvar</span></md-tooltip>
                                </md-button>
                            </div>
                        </div>

                    </md-tab-body>

                </md-tab>


                <md-tab >
                    <md-tab-label>
                        <span>Compartilhamento</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="product-detail-form-container md-background-bg md-whiteframe-1dp p-16">

                            <rf-user-list table-id="vm.row.id"  table-type="vm.userType" permissions="vm.permissions"></rf-user-list>
                        </div>
                    </md-tab-body>
                </md-tab>
            </md-tabs>

        </div>
        <!-- / CONTENT -->


    </div>
</form>
