<div id="rapi-page-archive" class="page-layout carded fullwidth single-scroll" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" flex>

        <div class="header" layout="row" layout-align="space-between center" layout-xs="column"  layout-align-xs="space-between start" >
            <div class="white-text" layout="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-bank"></md-icon>
                    <span translate="BANCO.TITLE_ARCHIVE">Banco</span>
                </div>
                <div class="product-count secondary-text">
                    <span translate="BANCO.TOTAL" translate-values="{'total':vm.pagination.total}">Total de cadastros {vm.pagination.total}</span>
                </div>
            </div>

            <div layout="row">
                <div class="search" layout="row" layout-align="start center" flex>
                    <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                    <input id="e-commerce-products-search" class="search-input" type="text" placeholder="{{'BANCO.BUSCAR' | translate}}"  translate translate-attr-placeholder="COMMON.BUSCAR" ng-change="vm.search()" ng-model="vm.params.q" flex>
                </div>
                <md-button ng-click="vm.showCreate($event)" class="md-fab md-primary" aria-label="adicionar novo"  translate translate-attr-aria-label="COMMON.ADICIONAR_NOVO">
                    <md-icon md-font-icon="icon-plus"></md-icon>
                </md-button>
            </div>
        </div>

        <!-- CONTENT CARD -->
        <div class="content-card">

            <md-content class="content no-padding" ms-scroll>

                <table class="dataTable row-border hover" ms-responsive-table w3-order-table="vm.params" w3-change="vm.search()">
                    <thead>
                        <tr>
                            <th class="secondary-text" data-order="id">
                                <div class="table-header">
                                    <span class="column-title" translate="COMMON.ID">ID</span>
                                </div>
                            </th>
                            <th class="secondary-text" data-order="nome">
                                <div class="table-header">
                                    <span class="column-title" translate="BANCO.TABLE.NOME">Nome</span>
                                </div>
                            </th><th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title" translate="BANCO.TABLE.NUMERO">Numero</span>
                                </div>
                            </th>
                            <th class="secondary-text" data-order="created_at">
                                <div class="table-header">
                                    <span class="column-title" translate="COMMON.CRIADO_EM">Criado em</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title" translate="COMMON.ATUALIZADO_EM">Atualizado em</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title" translate="COMMON.OPCOES">Opções</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr-notfound" ng-show="vm.loading === false && vm.archive.length == 0">
                            <td colspan="10">
                                <span  translate="BANCO.SEM_RESULTADOS">Nenhum resultado encontrado</span>
                            </td>
                        </tr>
                        <tr ng-repeat="item in vm.archive" class="hover-table">
                            <td>{{item.id}}</td>
                            <td ng-click="vm.showEdit(item, $event)" class="pointer">{{item.nome}}</td>
                            <td>{{item.numero}}</td>
                            <td>{{item.created_at|w3DatePt}}</td>
                            <td>{{item.updated_at|w3DatePt}}</td>
                            <td>
                    <md-menu>
                        <md-button class="md-icon-button" aria-label="mais opções"  translate translate-attr-aria-label="COMMON.MAIS_OPCOES">
                            <md-icon md-font-icon="icon-dots-vertical" ng-click="$mdMenu.open()"></md-icon>
                        </md-button>

                        <md-menu-content width="3">
                            <md-menu-item>
                                <md-button ng-click="vm.showEdit(item, $event)" class=" md-accent" aria-label="Editar" translate translate-attr-aria-label="COMMON.EDITAR">
                                    <md-icon md-font-icon="icon-border-color" class="icon s28"></md-icon>
                                    {{'COMMON.EDITAR'|translate}}
                                </md-button>
                            </md-menu-item>

                            <md-divider></md-divider>
                            <md-menu-item>
                                <md-button ng-click="vm.confirmDelete(item, $index, $event)" class="md-warn" aria-label="Excluir" translate translate-attr-aria-label="COMMON.EXCLUIR">
                                    <md-icon md-font-icon="icon-delete" class="icon s26"></md-icon>
                                    {{'COMMON.EXCLUIR'|translate}}
                                </md-button>
                            </md-menu-item>

                        </md-menu-content>
                    </md-menu>
                    </td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="10">
                                <div layout="row" layout-align="space-between center">
                                    <div layout="row" layout-align="start center">
                                        <span  translate="COMMON.EXIBINDO">Exibindo</span>
                                        <md-input-container class="m-0" style="top: -2px;    padding: 0 8px;">
                                            <md-select aria-label="Itens por página"  translate translate-attr-aria-label="COMMON.ITENS_POR_PAGINA" ng-change="vm.search()" ng-model="vm.params.paginate">
                                                <md-option ng-repeat="pag in [10, 15, 20, 25, 30, 50, 100]" value="{{pag}}">
                                                    {{pag}} <span  translate="COMMON.ITENS">itens</span>
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                        <span  translate="COMMON.POR_PAGINA">por página</span>
                                    </div>

                                    <div layout="row" layout-align="end center">
                                        <w3-page-table w3-pagination="vm.pagination" w3-set-page="vm.setPage($page)"></w3-page-table>
                                    </div>

                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </md-content>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>