<div id="dashboard-project" class="page-layout simple " >

    <div class="center" flex ms-scroll>

        <div class="content">

            <!-- WIDGET GROUP -->
            <div class="widget-group" layout="row" flex="100" layout-wrap>
                <!-- WIDGET 6 -->
                <ms-widget layout="column" flex="100" flex-gt-sm="50">

                    <!-- Front -->
                    <ms-widget-front class="white-bg">

                        <div class="ph-16 border-bottom  h-72" layout="row" layout-align="space-between center">
                            <div class="h3" translate="DASHBOARD.CONTAS">Contas</div>
                            <div class="pv-16">
                                <md-menu>
                                    <md-button class="md-icon-button" ng-click="$mdMenu.open()"
                                               aria-label="more">
                                        <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                    </md-button>

                                    <md-menu-content width="3">
                                        <md-menu-item>
                                            <md-button ui-sref="app.conta" aria-label="Ver todas as contas">
                                                <span translate="DASHBOARD.VER_CONTAS">Ver todas as contas</span>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </div>
                        </div>

                        <div flex class="no-margin no-padding" layout="column" layout-align="space-between none" layout-wrap>
                            <div flex>
                                <div layout="column" layout-align="start none" ng-repeat="item in vm.report.saldo_contas.tipos">
                                    <b class="md-grey-400-bg p-8">{{item.nome}}</b>
                                    <div ng-repeat="subitem in item.contas" class=" secondary-text p-8"layout="row" layout-align="space-between center">
                                        <span class=" secondary-text text-uppercase font-size-14">{{subitem.nome}}</span>
                                        <b class="  font-size-14 " ng-class="{'green-400-fg': subitem.saldo >= 0, 'red-400-fg': subitem.saldo < 0}">{{subitem.saldo|currency:'R$'}}</b>
                                    </div>
                                </div>

                            </div>
                            <div>
                                <md-divider></md-divider>

                                <div  class=" secondary-text pv-8 pr-8"layout="row" layout-align="space-between center">
                                    <b class=" secondary-text text-uppercase font-size-24 mb-8 pl-8"translate="DASHBOARD.SALDO">Saldo</b>
                                    <b class="font-size-24 "ng-class="{'green-400-fg': vm.report.saldo_contas.total >= 0, 'red-400-fg': vm.report.saldo_contas.total < 0}">{{vm.report.saldo_contas.total|currency:'R$'}}</b>
                                </div>
                            </div>

                        </div>

                    </ms-widget-front>
                    <!-- / Front -->

                </ms-widget>
                <!-- / WIDGET 6 -->
                <!-- WIDGET 6 -->
                <ms-widget layout="column" flex="100" flex-gt-sm="50">

                    <!-- Front -->
                    <ms-widget-front class="white-bg">

                        <div class="ph-16 border-bottom  h-72" layout="row" layout-align="space-between center">
                            <div class="h3" translate="DASHBOARD.PREVISTO_REALIZADO">Previsto / Realizado</div>
                            <div class="pv-16">
                                <md-select class="simplified" ng-model="vm.widget6.currentRange"
                                           ng-change="vm.widget6.changeRange(vm.widget6.currentRange)"
                                           aria-label="Change range">
                                    <md-option ng-repeat="(key, range) in vm.widget6.ranges"
                                               value="{{key}}">
                                        {{range}}
                                    </md-option>
                                </md-select>
                            </div>
                        </div>

                        <div class="p-16" layout="row" class="h-315">
                            <nvd3 class="h-315" flex="100" flex-gt-sm="50"
                                  config="vm.widget6.mainChart.config"
                                  options="vm.widget6.mainChart.options"
                                  data="vm.w6DataDespesa"></nvd3>

                            <nvd3 class="h-315" flex="100" flex-gt-sm="50"
                                  config="vm.widget6.mainChart.config"
                                  options="vm.widget6.mainChart.options"
                                  data="vm.w6DataReceita"></nvd3>
                        </div>

                        <div class="pv-8 mh-16 border-top" layout="row" layout-align="start center" layout-wrap>
                            <div class="pv-8 border-right pr-8" layout="column" 
                                 flex="100" flex-gt-xs="50">
                                <span class=" secondary-text text-uppercase font-size-14 mb-8"translate="DASHBOARD.RECEBIMENTOS">Recebimentos</span>
                                <div  class=" secondary-text"layout="row" layout-align="space-between center">
                                    <span translate="DASHBOARD.REALIZADO">Realizado:</span>
                                    <b class="green-400-fg">{{vm.report.eva_programacao.receita.realizado|currency:'R$ '}}</b>
                                </div>
                                <div class=" secondary-text" layout="row" layout-align="space-between center">
                                    <span translate="DASHBOARD.FALTA">Falta:</span>
                                    <b>{{vm.report.eva_programacao.receita.falta|currency:'R$ '}}</b>
                                </div>
                                <md-divider></md-divider>
                                <div class=" secondary-text" layout="row" layout-align="space-between center">
                                    <span translate="DASHBOARD.PREVISTO">Previsto:</span>
                                    <b>{{vm.report.eva_programacao.receita.previsto|currency:'R$ '}}</b>
                                </div>

                            </div>

                            <div class="pv-8 pl-8" layout="column"  flex="100"
                                 flex-gt-xs="50">
                                <span class=" secondary-text text-uppercase font-size-14 mb-8" translate="DASHBOARD.DESPESAS">Despesas</span>
                                <div  class=" secondary-text"layout="row" layout-align="space-between center">
                                    <span translate="DASHBOARD.REALIZADO">Realizado:</span>
                                    <b class="red-400-fg">{{vm.report.eva_programacao.despesa.realizado|currency:'R$ '}}</b>
                                </div>
                                <div class=" secondary-text" layout="row" layout-align="space-between center">
                                    <span translate="DASHBOARD.FALTA">Falta:</span>
                                    <b>{{vm.report.eva_programacao.despesa.falta|currency:'R$ '}}</b>
                                </div>
                                <md-divider></md-divider>
                                <div class=" secondary-text" layout="row" layout-align="space-between center">
                                    <span translate="DASHBOARD.PREVISTO">Previsto:</span>
                                    <b>{{vm.report.eva_programacao.despesa.previsto|currency:'R$ '}}</b>
                                </div>

                            </div>
                        </div>

                    </ms-widget-front>
                    <!-- / Front -->

                </ms-widget>
                <!-- / WIDGET 6 -->
            </div>


            <div class="widget-group" layout="row" flex="100" layout-wrap>
                <ms-widget flippable="false" layout="row" flex="100">
                    <ms-widget-front class="p-16 white-bg">
                        <h3 class="md-title  no-margin" translate="DASHBOARD.PROGRAMACAO">Programação</h3>
                        <div layout="row" layout-align="space-around">
                            <div  layout="column" layout-align="start start">
                                <span class=" secondary-text font-size-24 text-left">Para hoje</span>
                                <div class="font-size-24">
                                    {{vm.report.programacao.hoje.receber|currency:'R$ '}}<md-icon md-font-icon="icon-chevron-up" class="green-400-fg"></md-icon>
                                </div>
                                <div class="font-size-24">
                                    {{vm.report.programacao.hoje.pagar|currency:'R$ '}}<md-icon md-font-icon="icon-chevron-down" class="red-400-fg"></md-icon>
                                </div>
                            </div>
                            <div  layout="column" layout-align="start start">
                                <span class=" secondary-text font-size-24 text-left">Vencidos</span>
                                <div class="font-size-24">
                                    {{vm.report.programacao.vencidos.receber|currency:'R$ '}}<md-icon md-font-icon="icon-chevron-up" class="green-400-fg"></md-icon>
                                </div>
                                <div class="font-size-24">
                                    {{vm.report.programacao.vencidos.pagar|currency:'R$ '}}<md-icon md-font-icon="icon-chevron-down" class="red-400-fg"></md-icon>
                                </div>
                            </div>
                            <div  layout="column" layout-align="start start">
                                <span class=" secondary-text font-size-24 text-left">Próximos dias</span>
                                <div class="font-size-24">
                                    {{vm.report.programacao.futuros.receber|currency:'R$ '}}<md-icon md-font-icon="icon-chevron-up" class="green-400-fg"></md-icon>
                                </div>
                                <div class="font-size-24">
                                    {{vm.report.programacao.futuros.pagar|currency:'R$ '}}<md-icon md-font-icon="icon-chevron-down" class="red-400-fg"></md-icon>
                                </div>
                                <md-tooltip>Próximos 7 dias</md-tooltip>
                            </div>
                        </div>
                    </ms-widget-front>
                </ms-widget>
            </div>
            <div class="widget-group" layout="row" flex="100" layout-wrap>
                <!-- WIDGET 5 -->
                <ms-widget layout="row" flex="100" flex-gt-xs="50">

                    <!-- Front -->
                    <ms-widget-front class="white-bg h-480">
                        <div class="ph-16 pv-8 border-bottom  h-72" layout="row" layout-align="space-between center"
                             layout-wrap>
                            <div class="pv-8 h3">{{vm.widget5.title}}</div>
                        </div>

                        <div layout="row" layout-align="start center" layout-wrap>
                            <div class="p-16" layout="row" flex="100">
                                <nvd3 class="h-400 remove-x-lines" style="min-width: 300px;"
                                      config="vm.widget5.mainChart.config"
                                      options="vm.widget5.mainChart.options"
                                      data="vm.w5Data"></nvd3>
                            </div>
                        </div>
                    </ms-widget-front>
                    <!-- / Front -->

                </ms-widget>

                <ms-widget layout="column" flex="100" flex-gt-sm="50">

                    <!-- Front -->
                    <ms-widget-front class="white-bg">

                        <div class="ph-16 border-bottom  h-72" layout="row" layout-align="space-between center">
                            <div class="h3">Últimas atividades</div>

                            <div class="pv-16">
                            </div>
                        </div>

                        <div class="p-16" layout="row" layout-align="space-between center"
                             ng-repeat="item in vm.report.activity_last | orderBy:'-updated_at'">
                            <div>
                                <div class="h3" ng-bind-html="item.description"></div>
                                <div>
                                    <span class="secondary-text">{{item.created_at|w3Moments}}
                                        <md-tooltip>{{item.created_at|w3DatePt}}</md-tooltip>
                                    </span>
                                    <span>, {{item.causer.name}}</span>
                                </div>
                            </div>
                        </div>

                    </ms-widget-front>
                    <!-- / Front -->

                </ms-widget>
                <!-- / WIDGET 7 -->
            </div>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->


</div>