<div id="relatorios" class="page-layout simple left-sidenav inner-sidenav">

    <!-- CONTENT -->
    <div class="content animate-slide-up" md-background-bg layout="row" layout-align="start start" ng-class="{ 'search-ajust':vm.searchActive}" >

        <!-- SIDENAV -->
        <md-sidenav class="sidenav relatorios-sidenav md-white-bg layout-fill" ms-scroll md-is-locked-open="$mdMedia('gt-md')"
                    layout="column" flex="100" md-component-id="sidenav">
            <div ng-include="vm.path_pack + 'relatorios/sidenav.html'"></div>

            <!-- / SIDENAV CONTENT -->
        </md-sidenav>
        <!-- / SIDENAV -->

        <!-- MAIN -->
        <div class="main scrollable " ms-scroll>
            <md-content class="md-whiteframe-1dp md-white-bg">

                <md-subheader  ng-if="vm.titleReport" class="md-no-sticky md-white-bg">
                    <div layout="row" layout-align="space-between center">
                        <div class="list-title" layout="row" layout-align="start center">
                            <span class="md-title">{{vm.titleReport}}</span>
                        </div>
                        <div flex></div>
                    </div>
                </md-subheader>
                <form name="frmreport" ng-if="vm.titleReport">
                    <div class="pb-16 ph-16 form-slim">
                        <div  ng-if="vm.reportQuery.on('date_report')" layout="row" layout-align="start center">
                            <w3-report-date flex w3-extra-options="vm.optionsDate" w3-on-change="vm.reportQuery.setBetweenDate($dtParams)"></w3-report-date>
                        </div>

                        <div layout="row" layout-align="none center">
                            <md-input-container flex flex-gt-xs ng-if="vm.reportQuery.on('conta_id')">
                                <label translate="PROGRAMAR.CONTA">Conta</label>
                                <md-select ng-if="!vm.reportQuery.isMulti('conta_id')"  ng-model="vm.selectedContas1" class="mt-20"
                                           md-on-close="vm.reportQuery.pluck('conta_id', vm.selectedContas1)"
                                           md-on-open="vm.loadContas()"
                                           data-md-container-class="selectdemoSelectHeader"
                                           ng-required="vm.reportQuery.required('conta_id') && !vm.reportQuery.isMulti('conta_id')"
                                           multiple="true">
                                                                        <md-select-header class="demo-select-header">
                                                                            <input ng-model="vm.searchTerm"
                                                                                   type="text"
                                                                                   ng-keydown="$event.stopPropagation()"
                                                                                   placeholder="Selecionar conta"
                                                                                   class="demo-header-searchbox md-text">
                                                                        </md-select-header>
                                    <md-button ng-if="vm.reportQuery.isMulti('conta_id')" flex class="md-block button-option" ng-click="vm.selectedContas = vm.contas">Todas as contas</md-button>
                                    <md-option ng-value="conta" ng-repeat="conta in vm.contas| filter: vm.searchTerm">
                                        {{conta.nome}}
                                    </md-option>

                                </md-select>
                                <md-select ng-if="vm.reportQuery.isMulti('conta_id')" ng-model="vm.selectedConta" class="mt-20"
                                           md-on-close="vm.reportQuery.setParam('conta_id', vm.selectedConta)"
                                           md-on-open="vm.loadContas()"
                                           data-md-container-class="selectdemoSelectHeader"
                                           ng-required="vm.reportQuery.required('conta_id') && vm.reportQuery.isMulti('conta_id')"
                                           multiple="false">
                                    <md-option ng-value="conta.id" ng-repeat="conta in vm.contas">
                                        {{conta.nome}}
                                    </md-option>

                                </md-select>
                            </md-input-container>

                            <md-input-container flex flex-gt-xs="30"ng-if="vm.reportQuery.on('operacao')"     >
                                <label>Operação</label>
                                <md-select class="select-41" ng-model="vm.params.operacao"
                                           ng-change="vm.reportQuery.setParam('operacao', vm.params.operacao)"
                                           ng-required="vm.reportQuery.required('operacao')" >
                                    <md-option value="">Todos</md-option>
                                    <md-option value="R">Receita</md-option>
                                    <md-option value="D">Despesa</md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <md-chips flex
                                  ng-model="vm.selectedEntidades"
                                  ng-if="vm.reportQuery.on('entidade_id')"
                                  md-on-add="vm.reportQuery.pluck('entidade_id', vm.selectedEntidades)"
                                  md-on-remove="vm.reportQuery.pluck('entidade_id', vm.selectedEntidades)"
                                  md-max-chips="{{vm.reportQuery.isMulti('entidade_id')}}"
                                  md-transform-chip="vm.reportQuery.transformChip($chip)"
                                  ng-class="{'required-chip':{{vm.reportQuery.required('entidade_id')}}}"
                                  md-require-match="true">
                            <md-autocomplete flex
                                             md-selected-item="vm.selectedEntidade"
                                             md-search-text="vm.searchEntidades"
                                             md-items="item in vm.querySearchEntidade(vm.searchEntidades)"
                                             md-item-text="item.nome"
                                             placeholder="{{'PROGRAMAR.FAVORECIDO'|translate}}">
                                <span md-highlight-text="vm.searchEntidades">{{item.nome}}
                                </span>
                            </md-autocomplete>
                            <md-chip-template>
                                <span>
                                    <strong>{{$chip.nome}}</strong>
                                </span>
                            </md-chip-template>
                        </md-chips>


                        <div layout="row">
                            <md-input-container flex  ng-if="vm.reportQuery.on('plano_conta_id')">
                                <label translate="PROGRAMAR.PLANO_DE_CONTA">Plano de conta</label>
                                <md-select ng-model="vm.selectedPlanos" class="mt-20"
                                           md-on-close="vm.reportQuery.pluck('plano_conta_id', vm.selectedPlanos)"
                                           md-on-open="vm.loadPlanos()"
                                           data-md-container-class="selectdemoSelectHeader"
                                           ng-required="vm.reportQuery.required('plano_conta_id')"
                                           multiple="{{vm.reportQuery.isMulti('plano_conta_id')}}">
                                    <!--                                <md-select-header class="demo-select-header">
                                                                        <input ng-model="vm.searchTermPlano"
                                                                               type="text"
                                                                               placeholder="Selecionar conta"
                                                                               class="demo-header-searchbox md-text">
                                                                    </md-select-header>-->

                                    <md-optgroup label="{{gr.nome}}" ng-repeat="gr in vm.planos[0].filhos.data" flex>
                                        <md-option ng-value="plan" ng-repeat="plan in gr.filhos.data|
                                                    filter:vm.searchTermPlano"><span class="green-500-fg">{{plan.codigo}}</span> {{plan.nome}}</md-option>
                                    </md-optgroup>
                                    <md-optgroup label="{{gr.nome}}" ng-repeat="gr in vm.planos[1].filhos.data" flex>
                                        <md-option ng-value="plan" ng-repeat="plan in gr.filhos.data|
                                                    filter:vm.searchTermPlano"><span class="red-500-fg">{{plan.codigo}}</span> {{plan.nome}}</md-option>
                                    </md-optgroup>

                                </md-select>
                            </md-input-container>
                        </div>

                        <md-chips flex
                                  ng-model="vm.selectedCentrosCustos"
                                  ng-if="vm.reportQuery.on('centro_custo_id')"
                                  md-on-add="vm.reportQuery.pluck('centro_custo_id', vm.selectedCentrosCustos)"
                                  md-on-remove="vm.reportQuery.pluck('centro_custo_id', vm.selectedCentrosCustos)"
                                  md-max-chips="{{vm.reportQuery.isMulti('centro_custo_id')}}"
                                  md-transform-chip="vm.reportQuery.transformChip($chip)"
                                  ng-class="{'required-chip':{{vm.reportQuery.required('centro_custo_id')}}}"
                                  md-require-match="true">
                            <md-autocomplete flex
                                             md-selected-item="vm.selectedCentroCusto"
                                             md-search-text="vm.searchCentroCusto"
                                             md-items="item in vm.querySearchCentroCusto(vm.searchCentroCusto)"
                                             md-item-text="item.nome"
                                             placeholder="Centro de custo">
                                <span md-highlight-text="vm.searchCentroCusto">{{item.nome}}</span>
                            </md-autocomplete>
                            <md-chip-template>
                                <span><strong>{{$chip.nome}}</strong></span>
                            </md-chip-template>
                        </md-chips>

                        <div layout="row">
                            <md-select flex ng-if="vm.reportQuery.on('forma_pagamento_id')"
                                       ng-change="vm.reportQuery.setParam('forma_pagamento_id', vm.params.forma_pagamento_id)"
                                       ng-model="vm.params.forma_pagamento_id" class="select-41"
                                       ng-required="vm.reportQuery.required('forma_pagamento_id')"
                                       md-on-open="vm.loadFormasPagamento()" placeholder="Forma de pagamento">
                                <md-option ng-value="item.id"
                                           ng-repeat="item in vm.formas_pagamento">
                                    {{item.nome}}
                                </md-option>
                            </md-select>
                        </div>

                        <div layout="row">
                            <md-input-container  ng-if="vm.reportQuery.on('dt_end')" flex="25">
                                <label>Saldo até a data:</label>
                                <input ng-model="vm.params.dt_end" type="date" ng-change="vm.setParamsDates()">
                            </md-input-container>
                        </div>
                        <div layout="row" layout-align="space-between center">

                            <md-switch flex ng-model="vm.params.ocultar" aria-label="ocultar" ng-change="vm.reportQuery.setParam('ocultar', vm.params.ocultar)">
                                Não incluir contas ocultas: {{ vm.params.ocultar? 'Ativo': ''}}
                            </md-switch>
                            <p flex class="secondary-text">
                                Ao desativar esta opção as contas ocultas serão contabilizadas nos relatórios
                            </p>
                        </div>
                    </div>

                    <div layout="row" layout-align="center center">

                        <md-button ng-disabled="vm.reportQuery.$invalid" ng-click="vm.reportQuery.sendReport('html', 'print')">
                            <md-icon class="blue-500-fg" md-font-icon="icon-printer"></md-icon>
                            <span>Imrimir</span>
                        </md-button>

                        <md-button ng-disabled="vm.reportQuery.$invalid"  ng-click="vm.reportQuery.sendReport('html')">
                            <md-icon md-font-icon="icon-eye"></md-icon>
                            <span>Visualizar</span>
                        </md-button>

                        <md-button ng-disabled="vm.reportQuery.$invalid"  ng-click="vm.reportQuery.sendReport('pdf')">
                            <md-icon class="red-900-fg" md-font-icon="icon-file-pdf-box"></md-icon>
                            <span>Exportar PDF</span>
                        </md-button>

                        <md-button ng-disabled="vm.reportQuery.$invalid"  ng-click="vm.reportQuery.sendReport('xls')">
                            <md-icon class="green-700-fg" md-font-icon="icon-table-large"></md-icon>
                            <span>Exportar Excel</span>
                        </md-button>
                    </div>

                </form>

                <div  ng-if="!vm.titleReport" layout="column" layout-align="center center" class="h-300">
                    <h1>Você ainda não selecionou nenhum relatório</h1>
                    <md-icon md-font-icon="icon-table-large" class="s80 h-80 amber-500-fg no-margin"></md-icon>
                    <p class="secondary-text font-size-20">Selecione ao lado um relatório para continuar.</p>
                </div>
            </md-content>
        </div>
        <!-- / MAIN -->

    </div>
    <!--    <md-button class="md-fab md-accent md-icon-button" id="add-contact-button" ng-click="vm.openContactDialog($event)"
                   aria-label="add contact" translate translate-attr-aria-label="CONTACTS.ADD_CONTACT">
            <md-icon md-font-icon="icon-account-plus"></md-icon>
        </md-button>-->
</div>
