<!--<div class="header md-padding h-140" layout="column" >

</div>-->
<!-- / SIDENAV HEADER -->


<!-- SIDENAV CONTENT -->
<div ms-scroll class="content scrollable " >
    <md-list ng-cloak="" class="listdemoListControls">
        <div ng-repeat="group in vm.sidenavlist">
            <md-subheader class="md-no-sticky">{{group.name}}</md-subheader>
            <md-list-item ng-click="vm.setReport(item)" ng-repeat="item in group.itens">
                <p> {{ item.label}} </p>
            </md-list-item>
            <md-divider ng-if='!$last'></md-divider>
        </div>
    </md-list>

</div>