<div id="transferencia" class="page-layout carded fullwidth single-scroll" layout="row">

    <div class="top-bg md-accent-bg"></div>

    <div class="center" layout="column" flex>

        <div class="header" >
            <div layout="row" layout-align="space-between center" layout-xs="column"  layout-align-xs="space-between start">
                <div class="white-text" layout="column" layout-align="start start">
                    <div class="h1" layout="row" layout-align="start center">
                        <md-icon md-font-icon="icon-swap-horizontal"></md-icon>
                        <span translate="TRANSFERENCIA.TITLE_ARCHIVE">Transferencia</span>
                    </div>
                    <div class="product-count secondary-text">
                        <span translate="TRANSFERENCIA.TOTAL" translate-values="{'total':vm.pagination.total}">Total de cadastros {vm.pagination.total}</span>
                    </div>
                </div>

                <div layout="row" layout-align="end center">
                    <md-button  ng-click="vm.searchActive = !vm.searchActive"  class="md-icon-button" aria-label="Search" translate
                                translate-attr-aria-label="CALENDAR.SEARCH">
                        <md-icon md-font-icon="icon-magnify"></md-icon>
                        <md-tooltip><span translate="PROGRAMAR.BUSCAR">Buscar</span></md-tooltip>
                    </md-button>
                    <md-button ng-click="vm.showCreate($event)" class="md-fab md-primary" aria-label="adicionar novo"  translate translate-attr-aria-label="COMMON.ADICIONAR_NOVO">
                        <md-icon md-font-icon="icon-plus"></md-icon>
                    </md-button>
                </div>
            </div>
            <!-- / SEARCH -->
            <div ng-if="vm.searchActive" class="bottom  animate-slide-down" layout="column" layout-gt-sm="row" layout-align-gt-sm="end center">
                <div class="search-boxes" flex flex-gt-xs="75" layout="column">

                    <div class="search-boxes  mb-8" flex flex-gt-xs="100" layout="column" layout-gt-xs="row">

                        <div class="search md-whiteframe-3dp mr-8" flex layout="row" layout-align="start center">
                            <md-chips flex
                                      ng-model="vm.selectedContasOrigem"
                                      md-transform-chip="vm.transformChip($chip)"
                                      md-require-match="true">
                                <md-autocomplete
                                    md-selected-item="vm.selectedContaOrigem"
                                    md-search-text="vm.searchContasOrigem"
                                    md-items="item in vm.querySearchConta(vm.searchContasOrigem)"
                                    md-item-text="item.nome"
                                    placeholder="Conta de origem">
                                    <span md-highlight-text="vm.searchTextOrigem">{{item.nome}}</span>
                                </md-autocomplete>
                                <md-chip-template>
                                    <span><strong>{{$chip.nome}}</strong></span>
                                </md-chip-template>
                            </md-chips>
                        </div>
                        <div class="search md-whiteframe-3dp mr-8" flex layout="row" layout-align="start center">
                            <md-chips flex
                                      ng-model="vm.selectedContasDestino"
                                      md-transform-chip="vm.transformChip($chip)"
                                      md-require-match="true">
                                <md-autocomplete
                                    md-selected-item="vm.selectedContaDestino"
                                    md-search-text="vm.searchContasDestino"
                                    md-items="item in vm.querySearchConta(vm.searchContasDestino)"
                                    md-item-text="item.nome"
                                    placeholder="Conta destino">
                                    <span md-highlight-text="vm.searchTextDestino">{{item.nome}} </span>
                                </md-autocomplete>
                                <md-chip-template>
                                    <span><strong>{{$chip.nome}}</strong></span>
                                </md-chip-template>
                            </md-chips>
                        </div>
                    </div>
                    <div  class="search-boxes  mb-8" flex flex-gt-xs="100" layout="column" layout-gt-xs="row">
                        <div class="search md-whiteframe-3dp mr-8" flex  layout="row" layout-align="start center">
                            <input flex ng-model="vm.params.q"
                                   type="text" placeholder="Procurar por histórico, palavra chave ou código">
                        </div>
                        <div class="search md-whiteframe-3dp date-filter-box"  layout="row" layout-align="start center">
                            <div layout="row" layout-align="center center" class="filter from mr-8">
                                <label>Início:</label>
                                <input type="date" ng-model="vm.params.dt_start" />
                            </div>
                            <div layout="row" layout-align="center center" class="filter to">
                                <label>Fim:</label>
                                <input type="date" ng-model="vm.params.dt_end" />
                            </div>
                        </div>
                        <md-button class="md-accent md-raised" aria-label="buscar" ng-click="vm.search()">Buscar</md-button>
                    </div>

                </div>

                <md-button ng-show="vm.searchActive"
                           class="md-icon-button"
                           ng-click="vm.clearFilter()"
                           aria-label="Filter Date">
                    <md-icon md-font-icon="icon-filter-remove"></md-icon>
                </md-button>

            </div>
        </div>


        <div class="content-card" layout="column" flex>

            <div class="content fullpage-datatable" ms-scroll>

                <!--#{{vm.params}}#-->
                <!--<md-progress-linear ng-class="{'progress-invisible' : !vm.loading}" md-mode="indeterminate"></md-progress-linear>-->

                <table class="dataTable row-border hover" ms-responsive-table w3-order-table="vm.params" w3-change="vm.search()">
                    <thead>
                        <tr>
                            <th class="secondary-text" data-order="created_at">
                                <div class="table-header">
                                    <span class="column-title">Data trans.</span>
                                </div>
                            </th>
                            <th class="secondary-text" >
                                <div class="table-header">
                                    <span class="column-title">Origem</span>
                                </div>
                            </th>
                            <th class="secondary-text" >
                                <div class="table-header">
                                    <span class="column-title">Destino</span>
                                </div>
                            </th>
                            <th class="secondary-text" >
                                <div class="table-header">
                                    <span class="column-title">Descrição</span>
                                </div>
                            </th>
                            <th class="secondary-text" >
                                <div class="table-header">
                                    <span class="column-title">Valor</span>
                                </div>
                            </th>
                            <th class="secondary-text" data-order="created_at">
                                <div class="table-header">
                                    <span class="column-title">Data cad.</span>
                                </div>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr-notfound" ng-show="vm.loading === false && vm.archive.length == 0">
                            <td colspan="10">
                                <span  translate="TRANSFERENCIA.SEM_RESULTADOS">Nenhum resultado encontrado</span>
                            </td>
                        </tr>
                        <tr ng-repeat="item in vm.archive" class="hover-table">
                            <td>{{item.dt_transferencia|w3FromDatePt}}</td>
                            <td class="rf-pointer">{{item.fromConta.nome}}</td>
                            <td class="rf-pointer">{{item.toConta.nome}}</td>
                            <td class="rf-pointer"><span style="width: 100%;max-width: 300px;    display: block;">{{item.descricao}}</span></td>
                            <td><b>{{item.valor|currency:"R$ "}}</b></td>
                             <td>{{item.created_at|w3DatePt}}</td>
                            <td>

                                <md-button ng-click="vm.confirmDelete(item, $index, $event)" class="md-warn" aria-label="Excluir" translate translate-attr-aria-label="COMMON.EXCLUIR">
                                    <md-icon md-font-icon="icon-delete" class="icon s26"></md-icon>
                                    {{'COMMON.EXCLUIR'|translate}}
                                </md-button>

                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="10">
                                <div layout="row" layout-align="space-between center">
                                    <div layout="row" layout-align="start center">
                                        <span  translate="COMMON.EXIBINDO">Exibindo</span>
                                        <md-input-container class="m-0" style="top: -2px;    padding: 0 8px;">
                                            <md-select aria-label="Itens por página"  translate translate-attr-aria-label="COMMON.ITENS_POR_PAGINA" ng-change="vm.search()" ng-model="vm.params.paginate">
                                                <md-option ng-repeat="pag in [10, 15, 20, 25, 30, 50, 100]" value="{{pag}}">
                                                    {{pag}} <span  translate="COMMON.ITENS">itens</span>
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                        <span  translate="COMMON.POR_PAGINA">por página</span>
                                    </div>

                                    <div layout="row" layout-align="end center">
                                        <w3-page-table w3-pagination="vm.pagination" w3-set-page="vm.setPage($page)"></w3-page-table>
                                    </div>

                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
